<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="data:,">
<title>jQuery Invoice</title>
<!-- Default Styles --><link rel="stylesheet" type="text/css" href="../../../../../lib/css/default.css" media="all">
<!-- SF-Icons Css --><link rel="stylesheet" type="text/css" href="../../../../../lib/css/toolkit/sf-icons.css" media="all">
<!-- UX Css --><link rel="stylesheet" type="text/css" href="../../../../../lib/css/toolkit/ux-toolkit.css" media="all"><link rel="stylesheet" type="text/css" href="../../../../../lib/css/toolkit/ux-toolkit-responsive.css" media="all">
<!-- # -->
<!-- Font --><link rel="stylesheet" type="text/css" href="../../../../../lib/core/plugins/fonts/typo/sans/ibm-plex-sans.css" media="all"><style type="text/css">* { font-family: 'IBM Plex Sans',arial,sans-serif; }</style>
<!-- jQuery --><script src="../../../../../lib/js/jquery/jquery.js" type="text/javascript"></script><script>jQuery.ajaxSetup({ timeout: 0, cache: false });</script><script src="../../../../../lib/js/jquery/jquery.smart.compat.js" type="text/javascript"></script>
<!-- Notifications Growl (toastr) --><link rel="stylesheet" type="text/css" href="../../../../../lib/js/jquery/growl/jquery.toastr.css"><script src="../../../../../lib/js/jquery/growl/jquery.toastr.js"></script>
<!-- Notifications Dialog --><link rel="stylesheet" type="text/css" href="../../../../../lib/js/jquery/jquery.alertable.css"><script src="../../../../../lib/js/jquery/jquery.alertable.js"></script>
<!-- Js Framework --><script>const smartJ$Options = { BrowserUtils: { LanguageId: 'en', Charset: 'UTF-8', CookieLifeTime: 0, CookieDomain: '', CookieSameSitePolicy: 'Lax', Prefix: '../../../../../', }, }; Object.freeze(smartJ$Options); window.smartJ$Options = smartJ$Options;</script><script src="../../../../../lib/js/framework/smart-framework.pak.js"></script>
<!-- jQuery.eInvoice -->
<link rel="stylesheet" type="text/css" href="../jq-invoice.css" media="all">
<script src="../jq-invoice.js"></script>
<!-- # -->
</head>
<body>
<div id="area-main"><!-- jQuery Invoice v.1.0 :: r.20240123 -->
	<div id="invoice-box" class="invoice-box page">
		<form id="frm-metainfo" method="post" action="#customer" class="ux-form">
		<table id="metainfo" cellpadding="0" cellspacing="0">
			<tr class="top">
				<td>
					<table class="one">
						<tr>
							<td class="one logo">
								<i class="sfi sfi-libreoffice sfi-5x" id="icon"></i>
								&nbsp;
								<i class="sfi sfi-qrcode sfi-5x" id="matrix"></i>
							</td>
							<td class="separator">&nbsp;</td>
							<td class="one document align-right">
								<div class="doc-type">Invoice</div>
								<div class="doc-num">No.: 1234567</div>
								<div class="doc-date">Date: 2025-01-22</div>
								<div class="doc-due">Due: 2025-02-22</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="bottom">
				<td>
					<table class="two">
						<tr valign="top">
							<td class="two supplier">
								<div class="name">Company, Inc.</div>
								<div class="taxid">Tax-ID: EIN-123.456</div>
								<div class="regno">Registration: CA-0000</div>
								<div class="country">Country: USA</div>
								<div class="region">Region/State: CA</div>
								<div class="address">Address: 12345 Sunny Road, Sunnyville, CA 12345, USA</div>
							</td>
							<td class="separator">&nbsp;</td>
							<td class="two customer align-right">
								<div class="type">
									Customer:&nbsp;
									<select id="ctype" name="ctype" class="customer ux-field-xs" autocomplete="off">
										<option value="c">Company</option>
										<option value="p">Person</option>
									</select>
								</div>
								<div class="name">Name: <input type="text" maxlength="128" id="cname" name="cname" class="customer" value="Acme Ltd." placeholder="Customer Name"></div>
								<div class="taxid" id="c-taxid" title="Required just for Companies">Tax-ID: <input type="text" maxlength="16" id="ctaxid" name="ctaxid" class="customer" value="" placeholder="TAX.ID-000.000"></div>
								<div class="regno" id="c-regno" title="Required just for Companies">Reg-No.: <input type="text" maxlength="24" id="cregno" name="cregno" class="customer" value="" placeholder="REG.NO-000.000"></div>
								<div class="country">Country: <input type="text" maxlength="64" id="ccountry" name="ccountry" class="customer" value="" placeholder="France"></div>
								<div class="region">Region: <input type="text" maxlength="64" id="cregion" name="cregion" class="customer" value="" placeholder="Paris"></div>
								<div class="address">Address: <textarea maxlength="128" name="caddr" id="caddr" class="customer" placeholder="Address, Details, ...">John Doe Street no.00,
email: john@example.com</textarea></div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		</form>
		<form id="frm-invoice" method="post" action="#" class="ux-form">
		<table id="invoice" cellpadding="0" cellspacing="0">
			<thead>
				<tr class="top">
					<td colspan="2">
						<div id="nfo"><button type="button" id="btn-upd" class="ux-button ux-button-details ux-button-small"><i class="sfi sfi-calculator"></i> &nbsp; Update</button></div>
					</td>
					<td colspan="2" class="align-center">
						Currency:&nbsp;<input type="text" maxlength="3" id="crr" name="crr" class="text" value="EUR" placeholder="XYZ" title="Currency Code: `USD` | `$`">
					</td>
					<td colspan="2" class="align-center" title="Discount: `0%` as percent or `0` as absolute">
						Discount:&nbsp;<input type="text" maxlength="12" id="discount" name="discount" class="discount" value="" placeholder="0% | 0.00" title="Extra Discount: `0%` | `0`">
					</td>
					<td colspan="1" class="align-center" title="Tax Exempt">
						<select id="xtax" name="xtax" class="ux-field-xs" autocomplete="off">
							<option value="">Tax</option>
							<option value="non">No Tax</option>
							<option value="exz">Export Zero Tax</option>
						</select>
					</td>
				</tr>
				<tr class="heading">
					<td style="width:5%">
						#
					</td>
					<td style="width:35%">
						Item
					</td>
					<td style="width:10%">
						U.M.
					</td>
					<td style="width:10%">
						Qty.
					</td>
					<td style="width:10%">
						Unit Price
					</td>
					<td style="width:15%">
						Value
					</td>
					<td style="width:15%">
						Tax
					</td>
				</tr>
			</thead>
			<tbody style="display:none;">
				<tr class="item">
					<td class="item-num align-right">
						<div class="num"></div>
						<div align="center"><button type="button" class="btn-remove ux-button ux-button-special ux-button-xsmall" title="Remove Item"><i class="sfi sfi-bin2"></i></button></div>
					</td>
					<td class="item-desc" title="Item Name and Details">
						<input type="text" maxlength="25" name="sku[]" class="sku text" value="" placeholder="SKU" title="Item Code">
						<input type="text" maxlength="100" name="name[]" class="name text" value="" placeholder="Item Name" title="Item Name">
						<textarea maxlength="512" name="desc[]" class="details text" placeholder="Attributes / Description" title="Item Attributes or Description"></textarea><!-- YAML -->
					</td>
					<td class="align-center">
						<input type="text" maxlength="10" name="um[]" class="um text" value="" placeholder="um" title="Unit of Measure">
						<select name="type[]" class="type ux-field-xs" autocomplete="off" title="Item Type (Accounting Registration Mode)">
							<option value="s">S :: Service</option>
							<option value="p">P :: Product</option>
							<option value="f">F :: Financial</option>
						</select>
					</td>
					<td class="align-right">
						<input type="text" maxlength="12" name="qty[]" class="qty numeric" value="1" placeholder="0.00" title="Quantity">
					</td>
					<td class="align-right">
						<input type="text" maxlength="12" name="price[]" class="price numeric" value="0" placeholder="0.00" title="Price">
					</td>
					<td class="align-right">
						<div class="calc">0.00</div>
						<input type="text" maxlength="12" name="discnt[]" class="discount" value="" placeholder="0% | 0.00" title="Discount: `0%` as percent or `0` as absolute">
					</td>
					<td class="align-right">
						<div class="calc">0.00</div>
						<input type="text" maxlength="5" name="tax[]" class="tax numeric" value="" placeholder="0.00" title="Tax">%
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="sub-totals">
					<td colspan="5" class="align-right">Sub-Total</td>
					<td class="align-center">0.00</td>
					<td class="align-center">0.00</td>
				</tr>
				<tr class="total">
					<td colspan="5" class="align-right">Total</td>
					<td colspan="2" class="align-center">0.00</td>
				</tr>
				<tr>
					<td colspan="7" class="align-center">
						Total Items: <span class="items-number">#</span>
						<input type="hidden" id="totalnet" name="totalnet" value="0">
						<input type="hidden" id="totaltax" name="totaltax" value="0">
						<input type="hidden" id="total" name="total" value="0">
					</td>
				</tr>
			</tfoot>
		</table>
		</form>
		<div align="center">
			<button type="button" id="btn-add" class="ux-button ux-button-primary"><i class="sfi sfi-plus"></i> &nbsp; Add Item</button>
			<button type="button" id="btn-export" class="ux-button ux-button-highlight"><i class="sfi sfi-box-remove"></i> &nbsp; Save Document</button>
		</div>
		<hr>
	</div>
</div>
<script>
jQuery(() => {
	const saveHandler = (jsonData) => {
		data = JSON.stringify(jsonData, null, 2);
		console.log('Sample-Save-Data:', data);
		smartJ$Browser.GrowlNotificationAdd('Invoice Saved ...', '<i class="sfi sfi-checkmark sfi-2x"></i>', null, 2000, false, 'yellow');
		setTimeout(() => { smartJQeInvoice.InvoicePreventPageUnload(); }, 2500); // this is is necessary just in this context, while re-enter the edit mode
	};
	smartJQeInvoice.InvoiceHandler(saveHandler);
});
</script>
</body>
</html>
