<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="data:,">
<title>jQuery Invoice</title>
<!-- Default Styles --><link rel="stylesheet" type="text/css" href="../../../../../lib/css/default.css" media="all">
<!-- SF-Icons Css --><link rel="stylesheet" type="text/css" href="../../../../../lib/css/toolkit/sf-icons.css" media="all">
<!-- UX Css --><link rel="stylesheet" type="text/css" href="../../../../../lib/css/toolkit/ux-toolkit.css" media="all"><link rel="stylesheet" type="text/css" href="../../../../../lib/css/toolkit/ux-toolkit-responsive.css" media="all">
<!-- # -->
<!-- Font --><link rel="stylesheet" type="text/css" href="../../../../../lib/core/plugins/fonts/typo/sans/ibm-plex-sans.css" media="all"><style type="text/css">* { font-family: 'IBM Plex Sans',arial,sans-serif; }</style>
<!-- jQuery --><script src="../../../../../lib/js/jquery/jquery.js" type="text/javascript"></script><script>jQuery.ajaxSetup({ timeout: 0, cache: false });</script><script src="../../../../../lib/js/jquery/jquery.smart.compat.js" type="text/javascript"></script>
<!-- Notifications Growl (toastr) --><link rel="stylesheet" type="text/css" href="../../../../../lib/js/jquery/growl/jquery.toastr.css"><script src="../../../../../lib/js/jquery/growl/jquery.toastr.js"></script>
<!-- Notifications Dialog --><link rel="stylesheet" type="text/css" href="../../../../../lib/js/jquery/jquery.alertable.css"><script src="../../../../../lib/js/jquery/jquery.alertable.js"></script>
<!-- Js Framework --><script>const smartJ$Options = { BrowserUtils: { LanguageId: 'en', Charset: 'UTF-8', CookieLifeTime: 0, CookieDomain: '', CookieSameSitePolicy: 'Lax', Prefix: '../../../../../', }, }; Object.freeze(smartJ$Options); window.smartJ$Options = smartJ$Options;</script><script src="../../../../../lib/js/framework/smart-framework.pak.js"></script>
<!-- jQuery.eInvoice -->
<link rel="stylesheet" type="text/css" href="../jq-invoice.css" media="all">
<script src="../jq-invoice.js"></script>
<!-- # -->
</head>
<body>
<div id="area-invoice"></div>
<script>
jQuery(() => {
	const saveHandler = (jsonData) => {
		data = JSON.stringify(jsonData, null, 2);
		console.log('Sample-Save-Data:', data);
		smartJ$Browser.GrowlNotificationAdd('Invoice Saved ...', '<i class="sfi sfi-checkmark sfi-2x"></i>', null, 2000, false, 'yellow');
		setTimeout(() => { smartJQeInvoice.InvoicePreventPageUnload(); }, 2500); // this is is necessary just in this context, while re-enter the edit mode
	};
	smartJQeInvoice.InvoiceHandler('../', saveHandler);
});
</script>
</body>
</html>
