<nav class="ux-navbar navbar-black">
	<div id="logo" style="display:flex; align-items:center;">
		<span style="line-height:50px;">
			&#9776;
		</span>
		<span style="margin-left:10px;">Smart.Framework - a practical, modern and high performance PHP / JavaScript Framework for Web</span>
	</div>
	<label for="drop-0" class="toggle">&#9776;</label>
	<input type="checkbox" id="drop-0">
	<ul class="menu">
		<li><a href="#" title="go Back">go Back</a></li>
	</ul>
</nav>
<a href="https://github.com/unix-world/Smart.Framework" target="_blank" title="Smart.Framework Source Code"><img src="lib/framework/img/sf-logo.svg" alt="Smart.Framework Logo" title="Smart.Framework Logo" width="128" height="128" align="right" style="margin:5px; margin-top:0;"></a>
