<!-- generate r.20250107 -->
<h1>Select an Action to generate the Documentation for</h1>
<hr>
<br>
<a href="[###URL-PHP-SF|html###]" class="ux-button"><table style="font-size:1.25rem; line-height:1.25rem;"><tr><td><img src="lib/framework/img/php-logo.svg" width="32" height="32"></td><td>&nbsp;</td><td>Generate PHP Documentation for Smart.Framework</td></tr></table></a>
<br>
<a href="[###URL-PHP-SFM|html###]" class="ux-button"><table style="font-size:1.25rem; line-height:1.25rem;"><tr><td><img src="lib/framework/img/php-logo.svg" width="32" height="32"></td><td>&nbsp;</td><td>Generate PHP Documentation for Smart.Framework.Modules</td></tr></table></a>
<br>
<a href="[###URL-PHP-SFD|html###]" class="ux-button"><table style="font-size:1.25rem; line-height:1.25rem;"><tr><td><img src="lib/framework/img/php-logo.svg" width="32" height="32"></td><td>&nbsp;</td><td>Generate PHP Documentation for Smart.Framework.Docs</td></tr></table></a>
<br>
<br>
<a href="[###URL-JS-SF|html###]" class="ux-button"><table style="font-size:1.25rem; line-height:1.25rem;"><tr><td><img src="lib/framework/img/javascript-logo.svg" width="32" height="32"></td><td>&nbsp;</td><td>Generate Javascript Documentation for Smart.Framework</td></tr></table></a>
<br>
<a href="[###URL-JS-SFM|html###]" class="ux-button"><table style="font-size:1.25rem; line-height:1.25rem;"><tr><td><img src="lib/framework/img/javascript-logo.svg" width="32" height="32"></td><td>&nbsp;</td><td>Generate Javascript Documentation for Smart.Framework.Modules</td></tr></table></a>
<br>
<a href="[###URL-JS-SFD|html###]" class="ux-button"><table style="font-size:1.25rem; line-height:1.25rem;"><tr><td><img src="lib/framework/img/javascript-logo.svg" width="32" height="32"></td><td>&nbsp;</td><td>Generate Javascript Documentation for Smart.Framework.Docs</td></tr></table></a>
<br>
<br>
<br>