<!-- generate r.20191122 -->
<h1>Select an Action to generate the Documentation for</h1>
<hr>
<br>
<button type="button" onclick="self.location='[###URL-PHP-SF|js|html###]';">Generate PHP Documentation for Smart.Framework</button>
<br>
<br>
<button type="button" onclick="self.location='[###URL-PHP-SFM|js|html###]';">Generate PHP Documentation for Smart.Framework.Modules</button>
<br>
<br>
<button type="button" onclick="self.location='[###URL-PHP-SFD|js|html###]';">Generate PHP Documentation for Smart.Framework.Docs</button>
<br>
<br>
<hr>
<br>
<button type="button" onclick="self.location='[###URL-JS-SF|js|html###]';">Generate Javascript Documentation for Smart.Framework</button>
<br>
<br>
<button type="button" onclick="self.location='[###URL-JS-SFM|js|html###]';">Generate Javascript Documentation for Smart.Framework.Modules</button>
<br>
<br>
<button type="button" onclick="self.location='[###URL-JS-SFD|js|html###]';">Generate Javascript Documentation for Smart.Framework.Docs</button>
<br>
<br>
