<!-- generate r.20191120 -->
<h1>Select an Action to generate the Documentation for</h1>
<br>
<br>
<button type="button" onclick="self.location='[###URL-SF|js|html###]';">generate Documentation for Smart.Framework</button>
<br>
<br>
<button type="button" onclick="self.location='[###URL-SFM|js|html###]';">generate Documentation for Smart.Framework.Modules</button>
<br>
<br>
<button type="button" onclick="self.location='[###URL-SFD|js|html###]';">generate Documentation for Smart.Framework.Docs</button>
