
/* JS Virtual Keyboard, v.2018.12.07 */

#keyboardInputMaster {
	position:absolute;
	border-top:1px solid #eeeeee;
	border-right:1px solid #6e6e6e;
	border-bottom:1px solid #6e6e6e;
	border-left:1px solid #eeeeee;
	border-radius:0.4rem;
	box-shadow:0px 1px 3px #444444;
/*  opacity: 0.95; */
	background-color:#FFFFFF;
	text-align:left;
/*  z-index:1000000; */
	width:auto;
	margin:0px;
	line-height:1;
}
#keyboardInputMaster * {
	position:static;
	color:#000000;
	background:transparent;
	font:normal 11px Arial,sans-serif;
	margin:0px;
	padding:0px;
	border:0px none;
	outline:0px;
	vertical-align:baseline;
}
#keyboardInputMaster.keyboardInputSize1 * { font-size:9px; }
#keyboardInputMaster.keyboardInputSize3 * { font-size:13px; }
#keyboardInputMaster.keyboardInputSize4 * { font-size:16px; }
#keyboardInputMaster.keyboardInputSize5 * { font-size:20px; }

#keyboardInputMaster thead tr th,
#keyboardInputMaster thead tr td {
	padding:0.4rem 0.3rem 0.2rem 0.3rem;
	background-color: #ECECEC;
	white-space:nowrap;
}
#keyboardInputMaster thead tr th {
	text-align:left;
	width:170px;
}
#keyboardInputMaster thead tr th abbr {
	font-size:1.3rem;
	font-weight:bold;
	text-decoration:none;
	margin-right:4%;
	vertical-align:middle;
}
#keyboardInputMaster thead tr th select,
#keyboardInputMaster thead tr th label input {
	margin-right:3%;
	border:1px inset #888888;
	background-color:#ffffff;
	vertical-align:middle;
	font-size:inherit;
}
#keyboardInputMaster thead tr th select {
	line-height: 20px;
}
#keyboardInputMaster thead tr th label input {
	width:1.1rem;
	height:1.1rem;
}
#keyboardInputMaster thead tr td {
	text-align:right;
	vertical-align:middle;
}
#keyboardInputMaster thead tr td span,
#keyboardInputMaster thead tr td strong {
	display:inline-block;
	padding:0px 0.5rem;
	height:1.5rem;
	line-height:1.5rem;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #5d5d5d;
	border-bottom:1px solid #5d5d5d;
	border-left:1px solid #e5e5e5;
	background-color:#ffffff;
	cursor:pointer;
	margin:0px 0px 0px 0.3rem;
	border-radius:0.3rem;
	-moz-border-radius:0.3rem;
	-webkit-border-radius:0.3rem;
}
#keyboardInputMaster thead tr td strong {
	font-weight:bold;
}
#keyboardInputMaster thead tr td span:hover,
#keyboardInputMaster thead tr td strong:hover {
	background-color:#ff3300;
}

#keyboardInputMaster tbody tr td {
	text-align:left;
	padding:0.2rem 0.3rem 0.3rem 0.3rem;
}
#keyboardInputMaster tbody tr td div {
	text-align:center;
	position:relative;
	height:0px;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout {
	height:auto;
	zoom:1;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table {
	height:1.8rem;
	white-space:nowrap;
	width:100%;
	border-collapse:separate;
	border-spacing:0px;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table.keyboardInputCenter {
	width:auto;
	margin:0px auto;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td {
	vertical-align:middle;
	padding:0px 0.45rem;
	white-space:pre;
	font-family:'Lucida Console',monospace;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #5d5d5d;
	border-bottom:1px solid #5d5d5d;
	border-left:1px solid #e5e5e5;
	background-color:#ffffff;
	cursor:default;
	min-width:0.75rem;
	border-radius:0.2rem;
	-moz-border-radius:0.2rem;
	-webkit-border-radius:0.2rem;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.last {
	width:99%;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.space {
	padding:0px 4rem;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.alive {
	background-color:#aaaabb;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.target {
	background-color:#ddddcc;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.hover {
	border-top:1px solid #d5d5d5;
	border-right:1px solid #555555;
	border-bottom:1px solid #555555;
	border-left:1px solid #d5d5d5;
	background-color: #FEFF99;
}
#keyboardInputMaster thead tr td span.pressed,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.pressed,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.dead {
	border-top:1px solid #555555;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
	border-left:1px solid #555555;
	background-color:#cccccc;
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td span {
	display:block;
	text-align:center;
	font-size:0.6rem;
	white-space:pre;
}

#keyboardInputMaster tbody tr td div var {
	position:absolute;
	bottom:0px;
	right:0px;
	font-weight:bold;
	font-style:italic;
	color:#444444;
}

.keyboardInputInitiator {
	margin:0px 3px;
	vertical-align:middle;
	cursor:pointer;
}

/* END */
