<!DOCTYPE html>
<!-- v.20191104 -->
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Twitter Auth Completed - CallBack</title>
<script src="../../../../../lib/js/jquery/jquery.js"></script>
<script src="../../../../../lib/js/framework/smart-framework.js"></script>
<script src="../codebird.js"></script>
<script src="../twitter-js-api.js"></script>
<script src="setup.js"></script>
</head>
<style>
* {
	font-family: arial,sans-serif;
	font-smooth: always;
}
</style>
<body>
<script>
	if(TwitterApiHandler.init(twitterConsumerKey, twitterConsumerSecret, twitterCbProxyUrl, twitterLocalBaseDomain)) {
		TwitterApiHandler.finalizeauth( // Twitter Auth Callback (will use the init data from previous Init)
			function(){ // OK
				TwitterApiHandler.closepopup();
				console.log('Twitter Finalize Login OK !');
			},
			function(msg){ // ERR
				TwitterApiHandler.closepopup();
				alert('Twitter App Authorize FAILED: ' + msg);
			}
		);
	}
</script>
<div style="text-align:center;">
	<div style="background:#1DA1F2; color:#FFFFFF; padding:4px; border-radius:7px;">
		<h1>Twitter Finalize Auth</h1>
	</div>
</div>
</body>
</html>