<html><head>
		<title>quickMockup Editor</title>
		<meta charset="UTF-8">

		<script type="text/javascript" src="../../../../../lib/js/jquery/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../../../modules/mod-ui-jqueryui/toolkit/themes/default/jquery-ui.css">
		<script type="text/javascript" src="../../../../../modules/mod-ui-jqueryui/toolkit/jquery-ui.js"></script>

		<script type="text/javascript" src="../../../../../lib/js/framework/smart-framework.js"></script>
		<script>
			$(function(){
				SmartJS_BrowserUtils.PageAwayControl('do you want to close the application? Unsaved changes will be lost (use your browsers save function for saving)'); // prevent navigating away by accident
			});
		</script>

		<script src="../../md-showdown/showdown.js"></script>
		<script src="../../md-showdown/showdown-htmlescape.js"></script>
		<script src="../../md-showdown/showdown-mdui.js"></script>

		<script src="../jq-ui-edit-md2html.js"></script>

		<!-- optional --><script src="../../../../../modules/mod-js-components/views/js/mousetrap/mousetrap.js"></script>

		<style>
			html, body {
				padding:0;
				margin:0;
			}
		</style>
		<link href="../qmockup-editor.css" rel="stylesheet">
		<script>
			var qMockupEditorSave = function(data) {
				console.log(data);
			} //END FUNCTION
		</script>
		<script src="../qmockup-editor.js"></script>
		<link href="../qmockup-elements.css" rel="stylesheet">

</head>

<body>
<div id="appContainer">
<div class="ui-resizable" id="widgetCollectionWrap">
	<ul id="widgetCollection">
				<li title="button">
					<div class="newMockElement button ui-draggable ui-draggable-handle" data-editable-content="OK" data-editable-mode="plain">
						<span class="editableArea">OK</span>
					</div>
				</li>
				<li title="tabs"><!-- Tabs -->
					<div class="newMockElement tabs ui-draggable ui-draggable-handle" data-editable-content="Tab1;*Tab2; Tab3" data-editable-mode="uielements">
						<div class="editableArea">
							<ul>
								<li>Tab1</li>
								<li class="item-highlighted">Tab2</li>
								<li>Tab3</li>
							</ul>
						</div>
					</div>
				</li>
				<li title="Short text label">
					<div class="newMockElement label ui-draggable ui-draggable-handle" data-editable-content="label" data-editable-mode="plain">
						<div class="editableArea">Label</div>
					</div>
				</li>
				<li title="a link">
					<div class="newMockElement link ui-draggable ui-draggable-handle" data-editable-content="link" data-editable-mode="plain">
						<div class="editableArea">Link</div>
					</div>
				</li>
				<li title="checkbox list">
					<div class="newMockElement optionCheckbox ui-draggable ui-draggable-handle" data-editable-content="option; *other option" data-editable-mode="uielements">
						<div class="editableArea">
							<ul>
								<li>option</li>
								<li class="item-highlighted">other option</li>
							</ul>

						</div>
					</div>
				</li>
				<li title="radio-button list">
					<div class="newMockElement optionRadiobutton ui-draggable ui-draggable-handle" data-editable-content="option; *other option" data-editable-mode="uielements">
						<div class="editableArea">
							<ul>
								<li>option</li>
								<li class="item-highlighted">other option</li>
							</ul>
						</div>
					</div>
				</li>
				<li title="dropdown element">
					<div class="newMockElement dropdownList ui-draggable ui-draggable-handle" data-editable-content="DropdownTitle" data-editable-mode="plain">
						<span class="editableArea">Dropdown Title</span><span class="mockelement-dropdown-arrow">▾</span>
					</div>
				</li>
				<li title="spinner element">
					<div class="newMockElement spinner ui-draggable ui-draggable-handle" data-editable-content="10" data-editable-mode="plain">
						<span class="editableArea">10</span>
					</div>
				</li>
				<li title="slider element">
					<div class="newMockElement slider ui-draggable ui-draggable-handle">
						<span> </span>
					</div>
				</li>
				<li>
					<div class="newMockElement loadingIndicator ui-draggable ui-draggable-handle">
						<div class="bar"></div>
						70%
					</div>
				</li>
				<li>
					<div class="newMockElement headline ui-draggable ui-draggable-handle" data-editable-content="headline1" data-editable-mode="plain">
						<h1 class="editableArea">Headline1</h1>
					</div>
				</li>
				<li title="Markdown-editable paragraph">
					<div class="newMockElement paragraph ui-draggable ui-draggable-handle" data-editable-content="
Paragraph
(Markdown **Supported** !)">
						<div class="editableArea">
							Paragraph
							(Markdown<strong> Supported</strong>!)
						</div>
					</div>
				</li>
				<li title="markdown table">
					<div class="newMockElement table ui-draggable ui-draggable-handle" data-editable-content="
| h1    | h2      |      h3 |
|:------|:-------:|--------:|
| lorem | ipsum   | dolor   |
| first | second  | third   |
					">
						<div class="editableArea">
							<table>
							<thead>
							<tr>
							<th style="text-align:left;">h1</th>
							<th style="text-align:center;">h2</th>
							<th style="text-align:right;">h3</th>
							</tr>
							</thead>

							<tbody>
							<tr>
							<td style="text-align:left;">lorem</td>
							<td style="text-align:center;">ipsum</td>
							<td style="text-align:right;">dolor</td>
							</tr>

							<tr>
							<td style="text-align:left;">first</td>
							<td style="text-align:center;">second</td>
							<td style="text-align:right;">third</td>
							</tr>

							</tbody>
							</table>
						</div>
					</div>
				</li>
				<li title="simple OS window"><!-- Dialog Window -->
					<div class="newMockElement dialogWindow ui-draggable ui-draggable-handle" data-editable-content="myWindow" data-editable-mode="plain">
						<div class="dialogWindow-bar">
							<span class="editableArea">Title</span>
							<span class="dialogWindow-closeButton">×</span>
						</div>
					</div>
				</li>
				<li title="a rectangle">
					<div class="newMockElement rect ui-draggable ui-draggable-handle">
					</div>
				</li>
				<li title="a gray rectangle">
					<div class="newMockElement grayrect ui-draggable ui-draggable-handle">
					</div>
				</li>
				<li title="an invisible rectangle">
					<div class="newMockElement invisiblerect ui-draggable ui-draggable-handle">
						<div class="desc">Invisible Rect<br>Use for grouping</div>
					</div>
				</li>
				<li title="horizontal list" style="height:50px;">
					<div class="newMockElement entries-horizontal ui-draggable ui-draggable-handle" data-editable-content="Entry1;Entry2;*Entry3" data-editable-mode="uielements">
						<div class="editableArea">
							<ul>
								<li>Entry1</li>
								<li>Entry2</li>
								<li class="item-highlighted">Entry3</li>
							</ul>
						</div>
					</div>
				</li>
				<li title="vertical list" style="height:150px;">
					<div class="newMockElement entries-vertical ui-draggable ui-draggable-handle" data-editable-content="Entry1;Entry2;*Entry3" data-editable-mode="uielements">
						<div class="editableArea">
							<ul>
								<li>Entry1</li>
								<li>Entry2</li>
								<li class="item-highlighted">Entry3</li>
							</ul>
						</div>
					</div>
				</li>
				<li title="horizontal boxes list (e.g. for toolbars)" style="height:50px;">
					<div class="newMockElement boxes-horizontal ui-draggable ui-draggable-handle" data-editable-content="Entry1;Entry2;*Entry3" data-editable-mode="uielements">
						<div class="editableArea">
							<ul>
								<li>Entry1</li>
								<li>Entry2</li>
								<li class="item-highlighted">Entry3</li>
							</ul>
						</div>
					</div>
				</li>
				<li title="vertical boxes list (e.g. for toolbars)" style="height:150px;">
					<div class="newMockElement boxes-vertical ui-draggable ui-draggable-handle" data-editable-content="Entry1;Entry2;*Entry3" data-editable-mode="uielements">
						<div class="editableArea">
							<ul>
								<li>Entry1</li>
								<li>Entry2</li>
								<li class="item-highlighted">Entry3</li>
							</ul>
						</div>
					</div>
				</li>
				<li title="horizontal boxes for toolbars" style="height:50px;">
					<div class="newMockElement boxes-horizontal boxes-iconbar-horizontal ui-draggable ui-draggable-handle" data-editable-content="☰;⌂;⚑; ⚙; ✂;✐;✔;✘;↶;↷;◂;▸; ▴;▾" data-editable-mode="uielements">
						<div class="editableArea">
							<ul>
								<li>☰</li><li>⌂</li><li>⚑</li><li> ⚙</li><li> ✂</li><!-- <li>✐</li><li>✔</li><li>✘</li><li>↶</li><li>↷</li><li>◂</li><li>▸</li><li> ▴</li><li>▾</li> -->
							</ul>
						</div>
					</div>
				</li>

				<li title="image placeholder">
					<div class="newMockElement imageplaceholder ui-draggable ui-draggable-handle" data-editable-content="Image" data-editable-mode="plain">
						<div class="editableArea">
						Image
						</div>
					</div>
				</li>

				<li title="add markdown link to image">
					<div class="newMockElement actualimage ui-draggable ui-draggable-handle" data-editable-content="![]()<!-- add URL to image in the round brackets -->" data-editable-mode="markdown">
						<div class="editableArea">
						Image (double click to add markdown link to image)
						</div>
					</div>
				</li>

				<li title="Markdown-editable sticky note">
					<div class="newMockElement meta-element note ui-draggable ui-draggable-handle" data-editable-content="Notes here!" data-editable-mode="markdown">
						<div class="editableArea">
						</div>
					</div>
				</li>

				<li title="editable sticky arrow-note">
					<div class="newMockElement meta-element arrownote ui-draggable ui-draggable-handle" data-editable-content="Notes here!" data-editable-mode="plain">
						<div class="editableArea">
						note!
						</div>
					</div>
				</li>
		</ul>
	<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-e"></div></div>
		<div id="canvasWrap">
			<div style="width:1280px; height:900px;" class="ui-droppable" id="canvas">
				<!-- Js.QuickMockup:Content -->
				<!--
				Tentative Description for creating elements:

					In each list Element goes a div. This Div is the Interface Element which can be dragged to the canvas.
					Each element has the class "newMockElement". This is changed to "mockElement" when it is added to the cavas.
					Also each element can have other classes.

					In the Div there can be other nested elements.

					One of these elements *can* hold text that can be edited.  This is done by adding the attribute "data-editablearea" to this element.

					The way the text is edited can be customized, by adding the attribute data-editable-mode= to it. The attribute can have the following values: "markdown", "uielements", "plain". If you set nothing, markdown is assumed.

					markdown: Is markdown with a table extension and the possibility to create radiobuttons via "(x)" and checkboxes via [x]
					uielements: for creating lists where the items are seperated by a ";". List items can highlighted (item-highlighted class is added to the <li> element) by adding a "*" in front: "normal; normal; *I am Active; normal item again; …"
					plain: plain text

					DO: give your element an additional (aside the newMockupElement) class: "newMockupElement fooBarClass".
					DO: Use ">" (direct child) instead of the " " (descendant operator); If elements are nested it can have strange side effects since the nested element will have styles that it did not have before.

					DO NOT: give the element an id. The id is set by the script.
				-->
			</div>
		</div>
	<div id="toolbar">
		<button id="saveFile">Save (log to console)</button><br>
		<button class="delete-element-button" title="deletes the currently selected element (del)">✖ Delete Element</button><br>
		<button class="undelete-element-button" title="undeletes most recently deleted element (Ctrl+Z)">↶ Undelete Last</button><br>
		<button class="duplicate-element-button" title="duplicates currently selected element (Ctrl+D)">⚭ Duplicate Element</button><br><br>
		<button class="change-canvasize-button" title="change size of the area you place elements on">⇲ Change Canvas Size</button><br>
		<div id="change-canvasize-div">
			<label style="display:inline-block; min-width:70px!important;">Width:&nbsp;</label><input id="change-canvasize-w" name="width" type="text" style="width:70px!important;"><br>
			<label style="display:inline-block; min-width:70px!important;">Height:&nbsp;</label><input id="change-canvasize-h" name="height" type="text" style="width:70px!important;">
		</div>
	</div>

	<div aria-labelledby="ui-id-1" aria-describedby="changeCanvasSizeDialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable" role="dialog" tabindex="-1" style="display: none; position: absolute;"><div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle"><span class="ui-dialog-title" id="ui-id-1">&nbsp;</span><button title="Close" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" type="button"><span class="ui-button-icon ui-icon ui-icon-closethick"></span><span class="ui-button-icon-space"> </span>Close</button></div><div style="display: block;" id="changeCanvasSizeDialog" class="dialog ui-dialog-content ui-widget-content">
		<p>Change the size of the Canvas</p>
		<label>Width:<br><input name="width" type="text"></label><br>
		<label>Height:<br><input name="height" type="text"></label>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset">
			<button class="ui-button ui-corner-all ui-widget" type="button">OK</button>
			<button class="ui-button ui-corner-all ui-widget" type="button">Cancel</button>
		</div>
	</div>
	<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-n"></div>
	<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-e"></div>
	<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-s"></div>
	<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-w"></div>
	<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se"></div>
	<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-sw"></div>
	<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-ne"></div>
	<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-nw"></div>

<script>

	$(function(){ //setup the gui

		if(!Mousetrap) {
			var Mousetrap = null;
		}

		var $container = $("#canvas");
		var currentWidth = $container.width();
		var currentHeight = $container.height();

		$('#change-canvasize-w').val(currentWidth);
		$('#change-canvasize-h').val(currentHeight);

		//setup toolbar
		///setup toolbar-delete button
		$("#toolbar .delete-element-button").click(qMockupEditor.deleteElement); //delete button
		if(Mousetrap) {
			Mousetrap.bind(['del','backspace'],function(e){
				if(e.preventDefault) {
					e.preventDefault();
				}
				qMockupEditor.deleteElement();
			}); //keyboard shortcut
		}

		$("#toolbar .undelete-element-button").click(qMockupEditor.undeleteElement);
		if(Mousetrap) {
			Mousetrap.bind(['ctrl+z','command+z'], qMockupEditor.undeleteElement);
		}

		$("#toolbar .duplicate-element-button").click(qMockupEditor.duplicateElement);
		if(Mousetrap) {
			Mousetrap.bind(['ctrl+d','command+d'],function(e){
				if (e.preventDefault) {
					e.preventDefault();
				}
				qMockupEditor.duplicateElement();
			});
		}

		$("#toolbar .change-canvasize-button").click(function(){
			var w = parseInt($('#change-canvasize-w').val());
			var h = parseInt($('#change-canvasize-h').val());
			if(w > 100 && h > 100) {
				$container.width(w).height(h);
			}
		});

		$('#saveFile').click(function(){
			qMockupEditor.saveDocumentCode();
		})

		$('#loadFileButton').click(function(){
			$("#loadFile").click();
		})

		//setup sidebar resize
		$('#widgetCollectionWrap').resizable({
			handles: 'e',
			maxWidth:800,
		})

	});

</script>

<script>
	jQuery.ajax({
		url: 'sample.inc.htm',
		dataType: 'html'
	}).done(function(data) {
		if(data) {
			//console.log(data);
			qMockupEditor.loadDocumentCode(data);
			qMockupEditor.setupElements(); // make editable (comment out to make it readonly !!)
		} //end if
	});
</script>

</div>
</body>
</html>