<!-- View: add-record v.20210413 -->
[@@@SUB-TEMPLATE:partials/form-styles.mtpl.htm@@@]
<style>
.form-step2 {
	display: none;
}
</style>
<script>
var TplAuthParamsUrl = '[###TPL-AUTH-URL-PARAMS|js###]';
function btnHandlerCancel() {
	smartJ$Browser.CloseDelayedModalPopUp();
	return false;
}
function validateUrl(url) { // {{{SYNC-OAUTH2-VALIDATE-URL}}}
	url = smartJ$Utils.stringTrim(url);
	if((url.length < 15) || (url.length > 255)) {
		return false;
	} //end if
	if(url.indexOf('https://') !== 0) {
		return false;
	}
	return true;
}
var theDataStepOne = null;
function readDataStepOne() {
	theDataStepOne = null;
	var theApiId = String(jQuery('#api_id').val() || '');
	var regexOfApiID = [###REGEX-VALID-ID###]g; // {{{SYNC-OAUTH2-REGEX-ID}}}
	if((!theApiId) || (theApiId.length < 5) || (theApiId.length > 127) || (!theApiId.match(regexOfApiID))) {
		smartJ$Browser.GrowlNotificationAdd('Notice', 'API-ID is empty or invalid: ' + theApiId, null, 3500, false);
		return false;
	}
	var theDescription = String(jQuery('#api_desc').val() || '');
	if((!theDescription) || (theDescription.length < 10)) {
		smartJ$Browser.GrowlNotificationAdd('Notice', 'API Description is empty or too short', null, 3500, false);
		return null;
	}
	var theClientId = String(jQuery('#oauth2_client_id').val() || '');
	if(!theClientId) {
		smartJ$Browser.GrowlNotificationAdd('Notice', 'OAuth2 Client ID is empty', null, 3500, false);
		return null;
	}
	var theClientSecret = String(jQuery('#oauth2_client_secret').val() || '');
	if(!theClientSecret) {
		smartJ$Browser.GrowlNotificationAdd('Notice', 'OAuth2 Client Secret is empty', null, 3500, false);
		return null;
	}
	var theScope = String(jQuery('#oauth2_scope').val() || '');
	if(!theScope) {
		smartJ$Browser.GrowlNotificationAdd('Notice', 'OAuth2 Scope is empty', null, 3500, false);
		return null;
	}
	var oauth2UrlRedirect = String(jQuery('#oauth2_url_redirect').val() || '');
	if(!oauth2UrlRedirect) {
		smartJ$Browser.GrowlNotificationAdd('Notice', 'OAuth2 URL /auth is empty', null, 3500, false);
		return null;
	}
	var oauth2UrlAuth = String(jQuery('#oauth2_url_auth').val() || '');
	if((!oauth2UrlAuth) || (!validateUrl(oauth2UrlAuth))) {
		smartJ$Browser.GrowlNotificationAdd('Notice', 'OAuth2 URL /auth is empty or invalid', null, 3500, false);
		return false;
	}
	var oauth2UrlToken = String(jQuery('#oauth2_url_token').val() || '');
	if((!oauth2UrlToken) || (!validateUrl(oauth2UrlToken))) {
		smartJ$Browser.GrowlNotificationAdd('Notice', 'OAuth2 URL /token is empty or invalid', null, 3500, false);
		return null;
	}
	return {
		theApiId: theApiId,
		theDescription: theDescription,
		theClientId: theClientId,
		theClientSecret: theClientSecret,
		theScope: theScope,
		oauth2UrlRedirect: oauth2UrlRedirect,
		oauth2UrlAuth: oauth2UrlAuth,
		oauth2UrlToken: oauth2UrlToken,
	}
}
var theDataStepTwo = null;
function readDataStepTwo() {
	theDataStepTwo = null;
	var theCode = String(jQuery('#oauth2_code').val() || '');
	if(!theCode) {
		smartJ$Browser.GrowlNotificationAdd('Notice', 'OAuth2 Code is empty', null, 3500, false);
		return null;
	}
	return {
		theCode: theCode,
	}
}
var submitStep = 0;
function btnHandlerSubmit() {
	$elemId = jQuery('#btn-submit-label');
	if(submitStep <= 0) {
		submitStep = 1;
		$elemId.text('Step 1: Get the OAuth2 Code');
	} else if(submitStep == 1) {
		theDataStepOne = readDataStepOne();
		if(!theDataStepOne) {
			return false;
		}
		var oauth2UrlAuth = theDataStepOne.oauth2UrlAuth;
		if((!oauth2UrlAuth) || (!validateUrl(oauth2UrlAuth))) {
			smartJ$Browser.GrowlNotificationAdd('Notice', 'OAuth2 URL /auth is empty or invalid', null, 3500, false);
			return false;
		}
		oauth2UrlAuth = String(oauth2UrlAuth);
		if(oauth2UrlAuth.indexOf('?') == -1) {
			oauth2UrlAuth += '?';
		} else {
			oauth2UrlAuth += '&';
		}
		oauth2UrlAuth += smartJ$Utils.renderMarkersTpl(TplAuthParamsUrl, {
				'CLIENT-ID': String(theDataStepOne.theClientId),
				'SCOPE': String(theDataStepOne.theScope),
				'REDIRECT-URI': String(theDataStepOne.oauth2UrlRedirect),
				'STATE': String(theDataStepOne.theApiId),
			},
			true
		);
		oauth2UrlAuth += '&';
		jQuery('.form-step1').each(function(index) {
			jQuery(this).find('input[type=text],textarea').prop('readonly', true);
		});
		jQuery('.form-step2').each(function(index) {
			jQuery(this).css({'display':'block'});
		});
		submitStep++;
		$elemId.text('Step 2: Initialize OAuth2 Tokens and Save API');
		smartJ$Browser.PopUpLink(oauth2UrlAuth, 'oauth2_wnd_auth', 0.75, 0.7, 1, 1);
	} else if(submitStep == 2) {
		theDataStepTwo = readDataStepTwo();
		if(!theDataStepTwo) {
			return false;
		}
		jQuery('.form-step2').each(function(index) {
			jQuery(this).find('input[type=text],textarea').prop('readonly', true);
		});
		jQuery('#btn-submit-btn').prop('disabled', true);
		submitStep++;
		smartJ$Browser.SubmitFormByAjax('add_form', '[###ACTIONS-URL|js###]', 'yes');
	} else {
		alert('ERROR: Invalid Submit Step: ' + submitStep);
	}
	return false;
}
</script>
<script>
jQuery(function(){
	btnHandlerSubmit();
});
</script>
<div style="max-width:760px;"><center>
<form id="add_form" name="add_form" class="ux-form ux-form-aligned" onSubmit="return false;">
	<legend><h1>Create New Oauth2 API</h1></legend>
	<br>
	<div class="ux-control-group form-step1">
		<label>API-ID</label>
		<input id="api_id" type="text" autocomplete="off" spellcheck="false" name="frm[id]" placeholder="Create a unique ID for this API ; can contain: a-z 0-9 . @ , #" maxlength="127" class="ux-input-1-2" required>
	</div>
	<div class="ux-control-group form-step1">
		<label>Description</label>
		<textarea id="api_desc" autocomplete="off" spellcheck="false" name="frm[description]" placeholder="Description" maxlength="1024" class="ux-input-1-2" required></textarea>
	</div>
	<div class="ux-control-group form-step1">
		<label>Client ID</label>
		<input id="oauth2_client_id" type="text" autocomplete="off" spellcheck="false" name="frm[client_id]" placeholder="Oauth2 Client ID" maxlength="255" class="ux-input-1-2" required>
	</div>
	<div class="ux-control-group form-step1">
		<label>Client Secret</label>
		<input id="oauth2_client_secret" type="text" autocomplete="off" spellcheck="false" name="frm[client_secret]" placeholder="Oauth2 Client Secret" maxlength="255" class="ux-input-1-2" required>
	</div>
	<div class="ux-control-group form-step1">
		<label>Scope</label>
		<input id="oauth2_scope" type="text" autocomplete="off" spellcheck="false" name="frm[scope]" placeholder="Oauth2 Scope" maxlength="255" class="ux-input-1-2" required>
	</div>
	<div class="ux-control-group form-step1">
		<label>Redirect URL</label>
		<input id="oauth2_url_redirect" type="text" autocomplete="off" spellcheck="false" name="frm[url_redirect]" placeholder="Oauth2 Redirect URL" maxlength="255" class="ux-input-1-2" value="[###DEFAULT-REDIRECT-URL|html###]" required>
	</div>
	<div class="ux-control-group form-step1">
		<label>OAuth2 Auth URL</label>
		<input id="oauth2_url_auth" type="text" autocomplete="off" spellcheck="false" name="frm[url_auth]" placeholder="Oauth2 URL for /auth" maxlength="255" class="ux-input-1-2" required>
	</div>
	<div class="ux-control-group form-step1">
		<label>OAuth2 Token URL</label>
		<input id="oauth2_url_token" type="text" autocomplete="off" spellcheck="false" name="frm[url_token]" placeholder="Oauth2 URL for /token" maxlength="255" class="ux-input-1-2" required>
	</div>
	<!-- Only for Step 2 -->
	<div class="ux-control-group form-step2">
		<label>OAuth2 Code</label>
		<input id="oauth2_code" type="text" autocomplete="off" spellcheck="false" name="frm[code]" placeholder="Enter the Oauth2 Code (from Step1)" maxlength="255" class="ux-input-1-2" required>
	</div>
	<!-- # -->
	<legend>&nbsp;</legend>
	<div class="ux-controls">
		<button type="button" class="ux-button ux-button-special" style="margin-right:10px; margin-bottom:5px;" onClick="btnHandlerCancel();"> Cancel &nbsp; <i class="sfi sfi-spinner11"></i></button>
		<button type="button" class="ux-button ux-button-primary" style="margin-right:10px; margin-bottom:5px;" onClick="btnHandlerSubmit();" id="btn-submit-btn"> <span id="btn-submit-label"></span> &nbsp; <i class="sfi sfi-checkmark"></i></button>
	</div>
</form>
</center></div>