
/* -- CSS Start :: SmartFramework / Fluid Responsive Layout Grid :: r.150507 -- */

/* Page Divisions and Margins */

.page {
	background: #FFFFFF;
	padding: 8px;
	margin: 0 0 0 0;
	border-radius: 16px;
	min-width: 300px;
	max-width: 1280px;
}
.head {
	padding: 0 18px;
}
.section {
	overflow: hidden;
	margin-bottom: 10px;
}
.row {
	overflow: hidden;
}
.column {
	float: left;
	margin-bottom: 10px;
}
.content {
	padding: 0 18px;
}

/* Flow Constraints */

.constrain-min-small {
	min-width: 128px;
}
.constrain-max-small {
	max-width: 328px;
}
.constrain-min-med {
	min-width: 378px;
}
.constrain-max-med {
	max-width: 1264px;
}
.constrain-min-big {
	min-width: 708px;
}
.constrain-max-big {
	max-width: 1920px;
}

/* Alignements */

.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

/* Column Widths */

.col1of1 {width: 100%;}

.col1of2 {width: 50%;}

.col1of3 {width: 33.33333%;}
.col2of3 {width: 66.66666%;}

.col1of4 {width: 25%;}
.col2of4 {width: 50%;}
.col3of4 {width: 75%;}

.col1of5 {width: 20%;}
.col2of5 {width: 40%;}
.col3of5 {width: 60%;}
.col4of5 {width: 80%;}

.col1of6 {width: 16.66666%;}
.col2of6 {width: 33.33333%;}
.col3of6 {width: 50.00000%;}
.col4of6 {width: 66.66666%;}
.col5of6 {width: 83.33333%;}

.col1of7 {width: 14.285714285%;}
.col2of7 {width: 28.571428571%;}
.col3of7 {width: 42.857142857%;}
.col4of7 {width: 57.142857142%;}
.col5of7 {width: 71.428571428%;}
.col6of7 {width: 85.714285714%;}

.col1of8 {width: 12.5%;}
.col2of8 {width: 25.0%;}
.col3of8 {width: 37.5%;}
.col4of8 {width: 50.0%;}
.col5of8 {width: 62.5%;}
.col6of8 {width: 75.0%;}
.col7of8 {width: 87.5%;}

.col1of9 {width: 11.111111111%;}
.col2of9 {width: 22.222222222%;}
.col3of9 {width: 33.333333333%;}
.col4of9 {width: 44.444444444%;}
.col5of9 {width: 55.555555555%;}
.col6of9 {width: 66.666666666%;}
.col7of9 {width: 77.777777777%;}
.col8of9 {width: 88.888888888%;}

.col1of10 {width: 10%;}
.col2of10 {width: 20%;}
.col3of10 {width: 30%;}
.col4of10 {width: 40%;}
.col5of10 {width: 50%;}
.col6of10 {width: 60%;}
.col7of10 {width: 70%;}
.col8of10 {width: 80%;}
.col9of10 {width: 90%;}

.col1of12  {width:  8.333333333%;}
.col2of12  {width: 16.666666666%;}
.col3of12  {width: 25.000000000%;}
.col4of12  {width: 33.333333333%;}
.col5of12  {width: 41.666666666%;}
.col6of12  {width: 50.000000000%;}
.col7of12  {width: 58.333333333%;}
.col8of12  {width: 66.666666666%;}
.col9of12  {width: 75.000000000%;}
.col10of12 {width: 83.333333333%;}
.col11of12 {width: 91.666666666%;}

.col1of16  {width:  6.25%;}
.col2of16  {width: 12.50%;}
.col3of16  {width: 18.75%;}
.col4of16  {width: 25.00%;}
.col5of16  {width: 31.25%;}
.col6of16  {width: 37.50%;}
.col7of16  {width: 43.75%;}
.col8of16  {width: 50.00%;}
.col9of16  {width: 56.25%;}
.col10of16 {width: 62.50%;}
.col11of16 {width: 68.75%;}
.col12of16 {width: 75.00%;}
.col13of16 {width: 81.25%;}
.col14of16 {width: 87.50%;}
.col15of16 {width: 93.75%;}

/* Responsive media queries */

@media all and (max-width: 768px) {

	.page {
		min-width: 280px;
		max-width: 768px;
	}
	.column {
		float: left;
		margin-bottom: 5px;
	}
	.content {
		padding: 5px 5px 5px 5px;
	}

	.constrain-min-small {
		min-width: 25%;
	}
	.constrain-max-small {
		max-width: 100%;
	}
	.constrain-min-med {
		min-width: 25%;
	}
	.constrain-max-med {
		max-width: 100%;
	}
	.constrain-min-big {
		min-width: 50%;
	}
	.constrain-max-big {
		max-width: 100%;
	}

	.col1of1 {width: 100%;}

	.col1of2 {width: 100%;}

	.col1of3 {width: 100%;}
	.col2of3 {width: 100%;}

	.col1of4 {width: 100%;}
	.col2of4 {width: 100%;}
	.col3of4 {width: 100%;}

	.col1of5 {width: 100%;}
	.col2of5 {width: 100%;}
	.col3of5 {width: 100%;}
	.col4of5 {width: 100%;}

	.col1of6 {width: 100%;}
	.col2of6 {width: 100%;}
	.col3of6 {width: 100%;}
	.col4of6 {width: 100%;}
	.col5of6 {width: 100%;}

	.col1of7 {width: 100%;}
	.col2of7 {width: 100%;}
	.col3of7 {width: 100%;}
	.col4of7 {width: 100%;}
	.col5of7 {width: 100%;}
	.col6of7 {width: 100%;}

	.col1of8 {width: 100%;}
	.col2of8 {width: 100%;}
	.col3of8 {width: 100%;}
	.col4of8 {width: 100%;}
	.col5of8 {width: 100%;}
	.col6of8 {width: 100%;}
	.col7of8 {width: 100%;}

	.col1of9 {width: 100%;}
	.col2of9 {width: 100%;}
	.col3of9 {width: 100%;}
	.col4of9 {width: 100%;}
	.col5of9 {width: 100%;}
	.col6of9 {width: 100%;}
	.col7of9 {width: 100%;}
	.col8of9 {width: 100%;}

	.col1of10 {width: 100%;}
	.col2of10 {width: 100%;}
	.col3of10 {width: 100%;}
	.col4of10 {width: 100%;}
	.col5of10 {width: 100%;}
	.col6of10 {width: 100%;}
	.col7of10 {width: 100%;}
	.col8of10 {width: 100%;}
	.col9of10 {width: 100%;}

	.col1of12  {width: 100%;}
	.col2of12  {width: 100%;}
	.col3of12  {width: 100%;}
	.col4of12  {width: 100%;}
	.col5of12  {width: 100%;}
	.col6of12  {width: 100%;}
	.col7of12  {width: 100%;}
	.col8of12  {width: 100%;}
	.col9of12  {width: 100%;}
	.col10of12 {width: 100%;}
	.col11of12 {width: 100%;}

	.col1of16  {width: 100%;}
	.col2of16  {width: 100%;}
	.col3of16  {width: 100%;}
	.col4of16  {width: 100%;}
	.col5of16  {width: 100%;}
	.col6of16  {width: 100%;}
	.col7of16  {width: 100%;}
	.col8of16  {width: 100%;}
	.col9of16  {width: 100%;}
	.col10of16 {width: 100%;}
	.col11of16 {width: 100%;}
	.col12of16 {width: 100%;}
	.col13of16 {width: 100%;}
	.col14of16 {width: 100%;}
	.col15of16 {width: 100%;}

}

/* -- */

/* ----------------------------- */

/* -- CSS End -- */
