
/* -- CSS Start :: Ux / Fluid Responsive Layout Grid :: 12 Columns :: Based on YUIGrid -- */

.ux-grid-row {
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.ux-grid-row {
	word-spacing: -0.43em;
}

.ux-grid-col {
	display: inline-block;
	zoom: 1; *display: inline;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.ux-grid-col-1,.ux-grid-col-1-2,.ux-grid-col-1-3,.ux-grid-col-2-3,.ux-grid-col-1-4,.ux-grid-col-3-4,.ux-grid-col-1-5,.ux-grid-col-2-5,.ux-grid-col-3-5,.ux-grid-col-4-5,.ux-grid-col-1-6,.ux-grid-col-5-6,.ux-grid-col-1-7,.ux-grid-col-2-7,.ux-grid-col-3-7,.ux-grid-col-4-7,.ux-grid-col-5-7,.ux-grid-col-6-7,.ux-grid-col-1-8,.ux-grid-col-3-8,.ux-grid-col-5-8,.ux-grid-col-7-8,.ux-grid-col-1-9,.ux-grid-col-2-9,.ux-grid-col-4-9,.ux-grid-col-5-9,.ux-grid-col-6-9,.ux-grid-col-7-9,.ux-grid-col-8-9,.ux-grid-col-1-10,.ux-grid-col-3-10,.ux-grid-col-7-10,.ux-grid-col-9-10,.ux-grid-col-1-11,.ux-grid-col-2-11,.ux-grid-col-3-11,.ux-grid-col-4-11,.ux-grid-col-5-11,.ux-grid-col-6-11,.ux-grid-col-7-11,.ux-grid-col-8-11,.ux-grid-col-9-11,.ux-grid-col-10-11,.ux-grid-col-1-12,.ux-grid-col-5-12,.ux-grid-col-7-12,.ux-grid-col-9-12,.ux-grid-col-11-12 {
	display: inline-block;
	zoom: 1; *display: inline;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

/* -- */

.ux-grid-col-1 {
	display:block;
}

.ux-grid-col-1-2 {
	width: 50%;
}

.ux-grid-offset-1-2 {
	margin-left: 50%;
}

.ux-grid-col-1-3 {
	width: 33.33333%;
}

.ux-grid-offset-1-3 {
	margin-left: 33.33333%;
}

.ux-grid-col-2-3 {
	width: 66.66667%;
}

.ux-grid-offset-2-3 {
	margin-left: 66.66667%;
}

.ux-grid-col-1-4 {
	width: 25%;
}

.ux-grid-offset-1-4 {
	margin-left: 25%;
}

.ux-grid-col-3-4 {
	width: 75%;
}

.ux-grid-offset-3-4 {
	margin-left: 75%;
}

.ux-grid-col-1-5 {
	width: 20%;
}

.ux-grid-offset-1-5 {
	margin-left: 20%;
}

.ux-grid-col-2-5 {
	width: 40%;
}

.ux-grid-offset-2-5 {
	margin-left: 40%;
}

.ux-grid-col-3-5 {
	width: 60%;
}

.ux-grid-offset-3-5 {
	margin-left: 60%;
}

.ux-grid-col-4-5 {
	width: 80%;
}

.ux-grid-offset-4-5 {
	margin-left: 80%;
}

.ux-grid-col-1-6 {
	width: 16.66667%;
}

.ux-grid-offset-1-6 {
	margin-left: 16.66667%;
}

.ux-grid-col-5-6 {
	width: 83.33333%;
}

.ux-grid-offset-5-6 {
	margin-left: 83.33333%;
}

.ux-grid-col-1-7 {
	width: 14.28571%;
}

.ux-grid-offset-1-7 {
	margin-left: 14.28571%;
}

.ux-grid-col-2-7 {
	width: 28.57143%;
}

.ux-grid-offset-2-7 {
	margin-left: 28.57143%;
}

.ux-grid-col-3-7 {
	width: 42.85714%;
}

.ux-grid-offset-3-7 {
	margin-left: 42.85714%;
}

.ux-grid-col-4-7 {
	width: 57.14286%;
}

.ux-grid-offset-4-7 {
	margin-left: 57.14286%;
}

.ux-grid-col-5-7 {
	width: 71.42857%;
}

.ux-grid-offset-5-7 {
	margin-left: 71.42857%;
}

.ux-grid-col-6-7 {
	width: 85.71429%;
}

.ux-grid-offset-6-7 {
	margin-left: 85.71429%;
}

.ux-grid-col-1-8 {
	width: 12.5%;
}

.ux-grid-offset-1-8 {
	margin-left: 12.5%;
}

.ux-grid-col-3-8 {
	width: 37.5%;
}

.ux-grid-offset-3-8 {
	margin-left: 37.5%;
}

.ux-grid-col-5-8 {
	width: 62.5%;
}

.ux-grid-offset-5-8 {
	margin-left: 62.5%;
}

.ux-grid-col-7-8 {
	width: 87.5%;
}

.ux-grid-offset-7-8 {
	margin-left: 87.5%;
}

.ux-grid-col-1-9 {
	width: 11.11111%;
}

.ux-grid-offset-1-9 {
	margin-left: 11.11111%;
}

.ux-grid-col-2-9 {
	width: 22.22222%;
}

.ux-grid-offset-2-9 {
	margin-left: 22.22222%;
}

.ux-grid-col-4-9 {
	width: 44.44444%;
}

.ux-grid-offset-4-9 {
	margin-left: 44.44444%;
}

.ux-grid-col-5-9 {
	width: 55.55556%;
}

.ux-grid-offset-5-9 {
	margin-left: 55.55556%;
}

.ux-grid-col-6-9 {
	width: 66.66667%;
}

.ux-grid-offset-6-9 {
	margin-left: 66.66667%;
}

.ux-grid-col-7-9 {
	width: 77.77778%;
}

.ux-grid-offset-7-9 {
	margin-left: 77.77778%;
}

.ux-grid-col-8-9 {
	width: 88.88889%;
}

.ux-grid-offset-8-9 {
	margin-left: 88.88889%;
}

.ux-grid-col-1-10 {
	width: 10%;
}

.ux-grid-offset-1-10 {
	margin-left: 10%;
}

.ux-grid-col-3-10 {
	width: 30%;
}

.ux-grid-offset-3-10 {
	margin-left: 30%;
}

.ux-grid-col-7-10 {
	width: 70%;
}

.ux-grid-offset-7-10 {
	margin-left: 70%;
}

.ux-grid-col-9-10 {
	width: 90%;
}

.ux-grid-offset-9-10 {
	margin-left: 90%;
}

.ux-grid-col-1-11 {
	width: 9.09091%;
}

.ux-grid-offset-1-11 {
	margin-left: 9.09091%;
}

.ux-grid-col-2-11 {
	width: 18.18182%;
}

.ux-grid-offset-2-11 {
	margin-left: 18.18182%;
}

.ux-grid-col-3-11 {
	width: 27.27273%;
}

.ux-grid-offset-3-11 {
	margin-left: 27.27273%;
}

.ux-grid-col-4-11 {
	width: 36.36364%;
}

.ux-grid-offset-4-11 {
	margin-left: 36.36364%;
}

.ux-grid-col-5-11 {
	width: 45.45455%;
}

.ux-grid-offset-5-11 {
	margin-left: 45.45455%;
}

.ux-grid-col-6-11 {
	width: 54.54545%;
}

.ux-grid-offset-6-11 {
	margin-left: 54.54545%;
}

.ux-grid-col-7-11 {
	width: 63.63636%;
}

.ux-grid-offset-7-11 {
	margin-left: 63.63636%;
}

.ux-grid-col-8-11 {
	width: 72.72727%;
}

.ux-grid-offset-8-11 {
	margin-left: 72.72727%;
}

.ux-grid-col-9-11 {
	width: 81.81818%;
}

.ux-grid-offset-9-11 {
	margin-left: 81.81818%;
}

.ux-grid-col-10-11 {
	width: 90.90909%;
}

.ux-grid-offset-10-11 {
	margin-left: 90.90909%;
}

.ux-grid-col-1-12 {
	width: 8.33333%;
}

.ux-grid-offset-1-12 {
	margin-left: 8.33333%;
}

.ux-grid-col-5-12 {
	width: 41.66667%;
}

.ux-grid-offset-5-12 {
	margin-left: 41.66667%;
}

.ux-grid-col-7-12 {
	width: 58.33333%;
}

.ux-grid-offset-7-12 {
	margin-left: 58.33333%;
}

.ux-grid-col-9-12 {
	width: 75%;
}

.ux-grid-offset-9-12 {
	margin-left: 75%;
}

.ux-grid-col-11-12 {
	width: 91.66667%;
}

.ux-grid-offset-11-12 {
	margin-left: 91.66667%;
}

/* -- */

.ux-grid-row-r {
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	word-spacing: -0.43em;
}


.opera-only :-o-prefocus,
.ux-grid-row-r {
	word-spacing: -0.43em;
}


.ux-grid-row-r img {
	max-width: 100%;
}

/* -- */

@media (min-width:980px) {
	.ux-grid-visible-phone     { display: none; }
	.ux-grid-visible-tablet    { display: none; }
	.ux-grid-visible-desktop   { }
	.ux-grid-hidden-phone      { }
	.ux-grid-hidden-tablet     { }
	.ux-grid-hidden-desktop    { display: none; }
}

@media (max-width:480px) {
	.ux-grid-row-r > [class ^= "ux-grid-col"] {
		width:100%;
	}
}

@media (max-width:767px) {
	.ux-grid-row-r > [class ^= "ux-grid-col"] {
		width:100%;
	}
	.ux-grid-visible-phone     { }
	.ux-grid-hidden-phone      { display: none; }
	.ux-grid-hidden-desktop    { }
	.ux-grid-visible-desktop   { display: none; }
}

@media (min-width:768px) and (max-width:979px) {
	.ux-grid-visible-tablet    {}
	.ux-grid-hidden-tablet     { display: none; }
	.ux-grid-hidden-desktop    {}
	.ux-grid-visible-desktop   { display: none; }
}

/* -- */

/* -- CSS End -- */
