
/*** Grid :: 12 columns / fluid / responsive (extra, based on Bootstrap Grid, by Unixman) ***/

.ux-g-grid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}
.ux-g-grid-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}
.ux-g-row {
	clear: both !important;
	margin-right: -15px;
	margin-left: -15px;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}
.ux-g-border {
	border: 1px solid #ECECEC;
}
.ux-g-col-1, .ux-g-col-2, .ux-g-col-3, .ux-g-col-4, .ux-g-col-5, .ux-g-col-6, .ux-g-col-7, .ux-g-col-8, .ux-g-col-9, .ux-g-col-10, .ux-g-col-11, .ux-g-col-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}
.ux-g-col-1, .ux-g-col-2, .ux-g-col-3, .ux-g-col-4, .ux-g-col-5, .ux-g-col-6, .ux-g-col-7, .ux-g-col-8, .ux-g-col-9, .ux-g-col-10, .ux-g-col-11, .ux-g-col-12 {
	float: left;
}
.ux-g-col-12 {
	width: 100%;
}
.ux-g-col-11 {
	width: 91.66666667%;
}
.ux-g-col-10 {
	width: 83.33333333%;
}
.ux-g-col-9 {
	width: 75%;
}
.ux-g-col-8 {
	width: 66.66666667%;
}
.ux-g-col-7 {
	width: 58.33333333%;
}
.ux-g-col-6 {
	width: 50%;
}
.ux-g-col-5 {
	width: 41.66666667%;
}
.ux-g-col-4 {
	width: 33.33333333%;
}
.ux-g-col-3 {
	width: 25%;
}
.ux-g-col-2 {
	width: 16.66666667%;
}
.ux-g-col-1 {
	width: 8.33333333%;
}

@media all and (max-width:767px) {

	/* Responsive Grid */

	.ux-g-col-1, .ux-g-col-2, .ux-g-col-3, .ux-g-col-4, .ux-g-col-5, .ux-g-col-6, .ux-g-col-7, .ux-g-col-8, .ux-g-col-9, .ux-g-col-10, .ux-g-col-11, .ux-g-col-12 {
		width: 99% !important;
		display: block !important;
	}

}

/* END */
