<!-- start latte partial / sub-template v.20191116 -->
{* Partial / Sub-Template: sample-partial.latte.inc.htm *}<!-- comments are removed -->
	<h5 id="qunit-test-result">nette/Latte TPL w. Sub-Template Render (Table with #{$tcount} columns):</h5>
	<table style="border: 1px solid #ECECEC; width: 550px;" id="qunit-test-el">
	<tr>
		<th>Column 1<th>
		<th>Column 2<th>
		<th>Column 3<th>
	</tr>
	{foreach $tbl as $row}
	<tr>
		<td>cell {$row['a1']}<td>
		<td>cell {$row['a2']}<td>
		<td>cell {$row['a3']}<td>
	</tr>
	{/foreach}
	</table>
	<ul>
	{if count($navigation) > 0}
		{foreach $navigation as $item}
		{var $iter = $iterator->counter - 1}
		<li><a href="{$item['href']}">{$iterator->counter}. {$item['caption']} ({$iter})</a></li>
		{/foreach}
	{else}
		<li><span style="color:#FF3300;"><b>NOT OK</b></span></li>
	{/if}
	</ul>
	Test Condition#1:
	{if $a == 'Test-1'}
		<b>OK</b>
	{else}
		<span style="color:#FF3300;"><b>NOT OK</b></span>
	{/if}
	<br>
	Test Condition#2:
	{if $b == $a}
		<span style="color:#FF3300;"><b>NOT OK</b></span>
	{else}
		{if $b == 'Test-1'}
			<span style="color:#FF3300;"><b>NOT OK</b></span>
		{else}
			{if $a != 'Test-1'}
				<span style="color:#FF3300;"><b>NOT OK</b></span>
			{else}
				<b>OK</b>
			{/if}
		{/if}
	{/if}
<!-- end latte partial / sub-template -->
