<!-- Partial Sub-Template: TestUnit.Main.ModWflowComponents -->
<br>
<hr>
<div>
	<h2 style="display:inline;">Extra Components available from Smart.Framework.Modules: Wflow-Components</h2>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/texteditor/demo/sample-document.html" data-smart="open.modal 998 0.85" class="ux-button ux-button-highlight" style="width:220px;"><i class="fa fa-newspaper-o"></i> &nbsp; Text Editor</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/spreadsheet/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-highlight" style="width:220px;"><i class="fa fa-table"></i> &nbsp; Spreadsheet</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/fullcalendar/demo/background-events.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-calendar"></i> &nbsp; Calendar Agenda</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/gantt/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-tasks"></i> &nbsp; Gantt Chart</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/kanban/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-tags"></i> &nbsp; Kanban Board</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/flowchart/demo/flowchart/demo.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-sitemap"></i> &nbsp; Flow Charts</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/dbmodeler/demo/demo.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-university"></i> &nbsp; DB Modeler</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/qmockup/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-codepen"></i> &nbsp; Mockup Designer</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/area-draw/demo/sample.html" data-smart="open.modal 998 0.85" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-diamond"></i> &nbsp; Vector Canvas</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/diff/demo/sample-diff-text.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-exchange"></i> &nbsp; Text Diff</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/diff/demo/sample-diff-json.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-random"></i> &nbsp; Json Diff</a>
</div>
<!-- #END :: Partial Sub-Template: TestUnit.Main.ModWflowComponents -->