<!-- Partial Sub-Template: TestUnit.Main.ModWflowComponents -->
<br>
<hr>
<div>
	<h2 style="display:inline;">Extra Components available from Smart.Framework.Modules / Wflow-Components (GPLv3)</h2>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/texteditor/demo/sample.html" data-smart="open.modal 0.98 0.96" class="ux-button ux-button-highlight" style="width:220px;"><i class="sfi sfi-newspaper"></i> &nbsp; Documents Editor</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/spreadsheet/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-special" style="width:220px;"><i class="sfi sfi-ungroup"></i> &nbsp; Spreadsheet</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/qmockup/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-paint-format"></i> &nbsp; Mockup Designer</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/kanban/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-price-tags"></i> &nbsp; Kanban Board</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/codeflow/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-files-empty"></i> &nbsp; CodeFlow Diagrams</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/flowchart/demo/flowchart-editor/demo.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-paste"></i> &nbsp; FlowChart Diagrams</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/bpmn-flow/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-copy"></i> &nbsp; BpmnFlow Diagrams</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/mindmap/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-feed"></i> &nbsp; MindMap Diagrams</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/fullcalendar/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-alarm"></i> &nbsp; Calendar Agenda</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/sched/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-stopwatch"></i> &nbsp; Time Scheduler</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/gantt/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-equalizer"></i> &nbsp; Gantt Chart</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/dbmodeler/demo/demo.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-cogs"></i> &nbsp; DB Modeler</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/vector-canvas/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-pen"></i> &nbsp; Vector Canvas</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/d3/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-target"></i> &nbsp; Data Visualisation</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/lf-maps/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-alt" style="width:220px;"><i class="sfi sfi-map"></i> &nbsp; LeafletJs Maps</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/3dcad/demo/sample.html" data-smart="open.modal" class="ux-button" style="width:220px;"><i class="sfi sfi-codepen"></i> &nbsp; 3D JsCAD</a>
</div>
<!-- #END :: Partial Sub-Template: TestUnit.Main.ModWflowComponents -->