<!-- Partial Sub-Template: TestUnit.Main.ModWflowComponents -->
<br>
<hr>
<div>
	<h2 style="display:inline;">Extra Components available from Smart.Framework.Modules / Wflow-Components (GPLv3)</h2>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/texteditor/demo/sample.html" data-smart="open.modal 0.98 0.96" class="ux-button ux-button-highlight" style="width:220px;"><i class="fa fa-newspaper-o"></i> &nbsp; Documents Editor</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/spreadsheet/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-highlight" style="width:220px;"><i class="fa fa-calculator"></i> &nbsp; Spreadsheet</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/qmockup/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-pencil-square-o"></i> &nbsp; Mockup Designer</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/kanban/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-tags"></i> &nbsp; Kanban Board</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/codeflow/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-trello"></i> &nbsp; CodeFlow Diagrams</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/flowchart/demo/flowchart-editor/demo.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-sitemap"></i> &nbsp; FlowChart Diagrams</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/bpmn-flow/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-cogs"></i> &nbsp; BpmnFlow Diagrams</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/mindmap/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-snowflake-o"></i> &nbsp; MindMap Diagrams</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/fullcalendar/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-calendar"></i> &nbsp; Calendar Agenda</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/sched/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-clock-o"></i> &nbsp; Time Scheduler</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/gantt/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-tasks"></i> &nbsp; Gantt Chart</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/dbmodeler/demo/demo.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-university"></i> &nbsp; DB Modeler</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/vector-canvas/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-diamond"></i> &nbsp; Vector Canvas</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/d3/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-bar-chart"></i> &nbsp; Data Visualisation</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/lf-maps/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-map"></i> &nbsp; LeafletJs Maps</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-wflow-components/views/3dcad/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-codepen"></i> &nbsp; 3D JsCAD</a>
</div>
<!-- #END :: Partial Sub-Template: TestUnit.Main.ModWflowComponents -->