<!-- JSON Code Editor -->
[@@@SUB-TEMPLATE:!lib/core/plugins/templates/code-editor-init.inc.htm!@@@]
<script type="text/javascript">
function drawCodeEditor(refVarName, textareaElemId, divMenuAreaId, cmWidth, cmHeight) {
	textareaElemId = String(textareaElemId);
	divMenuAreaId = String(divMenuAreaId);
	refVarName = String(refVarName);
	cmWidth = String(cmWidth);
	cmHeight = String(cmHeight);
	return SmartCodeMirror_Initialize(textareaElemId, false, 'application/ld+json', cmWidth, cmHeight, 'uxm', true, 530, divMenuAreaId, false, refVarName);
}
</script>
<!-- # JSON Code Editor -->