<!-- JSON Visual Editor -->
<link rel="stylesheet" type="text/css" href="modules/mod-db-admin/views/js/json-editor/jsoneditor.css">
<script type="text/javascript" src="modules/mod-db-admin/views/js/json-editor/jsoneditor.js"></script>
<script>
function drawJsonEditor(divElemId, strJsonData) {
	divElemId = String(divElemId);
	strJsonData = String(strJsonData || '{}');
	var json;
	try {
		json = JSON.parse(strJsonData);
	} catch(err) {
		json = {};
	}
	var options = {
		mode: 'tree',
		search: false
	};
	var container = document.getElementById(divElemId);
	jsonEditor = new JSONEditor(container, options, json); //jsonEditor.set(json);
	jsonEditor.expandAll();
}
</script>
<!-- # JSON Visual Editor -->