
/* CSS WebMail :: v.2018.12.27 */

.smartGrid_AlignCenter {
	text-align: center;
}

.smartGrid_AlignRight {
	text-align: right;
}

.smartGrid_Default {
	font-size: 13px;
}

.smartGrid_Important {
	font-size: 13px;
	font-weight: bold;
}

/* END */
