<!-- start twist template v.20260130 -->
{# Template: sample.twist.htm #}<!-- comments are removed -->
<center><div>
	<div>
		<img title="{{ Tpl_Path__ }}img/twist.svg" src="data:image/svg+xml,{{ svgDataUrl |raw |url |html }}" width="160" height="160">
		<br>
		{% if version != '' %}<span style="color:#778899;"><b><i>Twist</i></b> <i>Templating</i> Engine v.{{ version }}</span>{% endif %}
	</div>
	{{ hello__world | raw }}
	<div>
{% if UrlReload %}
		<a href="{{ UrlReload }}" class="ux-button ux-button-small ux-button-info"><i class="sfi sfi-loop2"></i> &nbsp; Reload TPL Render Test</a>
		&nbsp;&nbsp;
{% endif %}
{% if UrlViewSource %}
		<a href="{{ UrlViewSource }}" target="tpl_twist_view_source" data-smart="open.modal" class="ux-button ux-button-small ux-button-primary"><i class="sfi sfi-embed"></i> &nbsp; View TPL Source</a>
		&nbsp;&nbsp;
{% endif %}
{% if UrlViewSubSource %}
		<a href="{{ UrlViewSubSource }}" target="tpl_twist_view_source" data-smart="open.modal" class="ux-button ux-button-small ux-button-secondary"><i class="sfi sfi-embed2"></i> &nbsp; View Sub-TPL Source</a>
{% endif %}
	</div>
	<br>
	<div style="color:#777777;" title="{{ date_time |raw |html }}">{{ date_time }}</div>
	{% include 'sample-partial.inc.twist.htm' %}
</div></center>
<!-- end twist template -->
