<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Sample DMN Modeler</title>

		<link rel="stylesheet" type="text/css" href="../../../../../lib/core/plugins/fonts/typo/sans/ibm-plex-sans.css">
		<style type="text/css">
		* {
			font-family: 'IBM Plex Sans',arial,sans-serif;
		}
		</style>
		<script type="text/javascript" src="../../../../../lib/js/jquery/jquery.js"></script>

		<!-- required modeler styles -->
		<link rel="stylesheet" href="../modeler.css">
		<link rel="stylesheet" href="../dmn-modeler.css">
		<link rel="stylesheet" href="../dmn-diagram.css">
		<link rel="stylesheet" href="../dmn-dtable.css">
		<link rel="stylesheet" href="../dmn-dtable-modeler.css">
		<link rel="stylesheet" href="../dmn-litexpress.css">
		<link rel="stylesheet" href="../dmn-font.css">

		<!-- modeler distro -->
		<script src="../dmn-modeler.js"></script>

		<!-- example styles -->
		<style>
			html, body, #canvas {
				height: 100%;
				padding: 0;
				margin: 0;
			}

			#save-button {
				position: fixed;
				top: 50px;
				right: 20px;
			}
			#undo-button {
				position: fixed;
				top: 80px;
				right: 75px;
			}
			#redo-button {
				position: fixed;
				top: 80px;
				right: 20px;
			}
		</style>
	</head>
	<body>
		<div style="position:fixed; top:0px; left:0px; width:99%; text-align:center;">
			<h1 style="display:inline;">Sample DMN Modeler (Editor)</h1>
		</div>
		<div id="canvas"></div>

		<button id="save-button">print to console</button>
		<button id="undo-button">undo</button>
		<button id="redo-button">redo</button>

		<script>

			var diagramUrl = 'data/diagram.dmn';

			// modeler instance
			var dmnModeler = new DmnJS({
				container: '#canvas',
				common: {
					keyboard: {
						bindTo: window // or: document
					}
				}
			});

			/**
			 * Save diagram contents and print them to the console.
			 */
			function exportDiagram() {

				dmnModeler.saveXML({ format: true }, function(err, xml) {

					if (err) {
						return console.error('could not save DMN 1.1 diagram', err);
					}

					alert('Diagram exported. Check the developer tools!');

					console.log('DIAGRAM', xml);
				});
			}

			/**
			 * Open diagram in our modeler instance.
			 *
			 * @param {String} dmnXML diagram to display
			 */
			function openDiagram(dmnXML) {

				// import diagram
				dmnModeler.importXML(dmnXML, function(err) {

					if (err) {
						return console.error('could not import DMN 1.1 diagram', err);
					}

					// fetch currently active view
					var activeView = dmnModeler.getActiveView();

					// apply initial logic in DRD view
					if (activeView.type === 'drd') {

						var activeEditor = dmnModeler.getActiveViewer();

						// access active editor components
						var canvas = activeEditor.get('canvas');

						// zoom to fit full viewport
						canvas.zoom('fit-viewport', true); //and center

					}
				});
			}

			// load external diagram file via AJAX and open it
			$.get(diagramUrl, openDiagram, 'text');

			// wire save button
			$('#save-button').click(exportDiagram);
			$('#undo-button').click(function(){
				var activeEditor = dmnModeler.getActiveViewer();
				var editorActions = activeEditor.get('editorActions');
				editorActions.trigger('undo');
			});
			$('#redo-button').click(function(){
				var activeEditor = dmnModeler.getActiveViewer();
				var editorActions = activeEditor.get('editorActions');
				editorActions.trigger('redo');
			});
		</script>
	</body>
</html>
