<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Sample DMN Viewer</title>

		<link rel="stylesheet" type="text/css" href="../../../../../lib/core/plugins/fonts/typo/sans/ibm-plex-sans.css">
		<style type="text/css">
		* {
			font-family: 'IBM Plex Sans',arial,sans-serif;
		}
		</style>
		<script type="text/javascript" src="../../../../../lib/js/jquery/jquery.js"></script>

		<!-- required viewer styles -->
		<link rel="stylesheet" href="../dmn-diagram.css">
		<link rel="stylesheet" href="../dmn-dtable.css">
		<link rel="stylesheet" href="../dmn-litexpress.css">
		<link rel="stylesheet" href="../dmn-font.css">

		<!-- viewer distro -->
		<script src="../dmn-viewer.js"></script>

		<!-- example styles -->
		<style>
			html, body, #canvas {
				height: 100%;
				padding: 0;
				margin: 0;
			}
		</style>
	</head>
	<body>
		<div style="position:fixed; top:0px; left:0px; width:99%; text-align:center;">
			<h1 style="display:inline;">Sample DMN Viewer</h1>
		</div>
		<div id="canvas"></div>
		<script>

			var diagramUrl = 'data/diagram.dmn';

			// viewer instance
			var dmnViewer = new DmnJS({
				container: '#canvas'
			});


			/**
			 * Open diagram in our viewer instance.
			 *
			 * @param {String} dmnXML diagram to display
			 */
			function openDiagram(dmnXML) {

				// import diagram
				dmnViewer.importXML(dmnXML, function(err) {

					if (err) {
						return console.error('could not import DMN 1.1 diagram', err);
					}

					// fetch currently active view
					var activeView = dmnViewer.getActiveView();

					// apply initial logic in DRD view
					if (activeView.type === 'drd') {
						var activeEditor = dmnViewer.getActiveViewer();

						// access active editor components
						var canvas = activeEditor.get('canvas');

						// zoom to fit full viewport
						canvas.zoom('fit-viewport', true); // and center
					}
				});
			}

			// load external diagram file via AJAX and open it
			$.get(diagramUrl, openDiagram, 'text');
		</script>
	</body>
</html>
