/* font-family: 'Noto Serif' :: v4 :: Latin + Latin Extended :: r.2017.04.17 */

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Serif'), local('NotoSerif'),
		 url('noto-serif-regular.woff2') format('woff2'),
		 url('noto-serif-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: 400;
	src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
		 url('noto-serif-italic.woff2') format('woff2'),
		 url('noto-serif-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
		 url('noto-serif-bold.woff2') format('woff2'),
		 url('noto-serif-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: 700;
	src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
		 url('noto-serif-bold-italic.woff2') format('woff2'),
		 url('noto-serif-bold-italic.ttf') format('truetype');
}

/* END */
