<!-- Partial Sub-Template: TestUnit.Main.ModJsComponents -->
<br>
<hr>
<div>
	<h2 style="display:inline;">Extra Components available from Smart.Framework.Modules: Js-Components</h2>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/swipebox/demo/sample.html" data-smart="open.modal 760 0.92" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-camera"></i> &nbsp; Image Gallery</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/imgcrop/demo/sample-cropper.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-crop"></i> &nbsp; Image Crop</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/imgcanvas/demo/sample.html" data-smart="open.modal 760 0.92" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-adjust"></i> &nbsp; Interactive Canvas</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/sketchcanvas/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-paint-brush"></i> &nbsp; Sketch Canvas</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/chart2-js/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-area-chart"></i> &nbsp; Complex Charts</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/graphael/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-pencil-square-o"></i> &nbsp; RaphaëlSVG Graphics</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/snapsvg/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-pencil-square"></i> &nbsp; SnapSVG Graphics</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/3dcad/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-glass"></i> &nbsp; 3D OpenJsCAD</a>
</div>
<!-- #END :: Partial Sub-Template: TestUnit.Main.ModJsComponents -->