<!-- Partial Sub-Template: TestUnit.Main.ModJsComponents -->
<br>
<hr>
<div>
	<h2 style="display:inline;">Extra Components available from Smart.Framework.Modules / Js-Components</h2>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/swipebox/demo/sample.html" data-smart="open.modal 760 0.92" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-camera"></i> &nbsp; Image Gallery</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/imgcrop/demo/sample-cropper.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-crop"></i> &nbsp; Image Crop</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/chart2-js/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-stats-bars"></i> &nbsp; Complex Charts</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/graphael/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="sfi sfi-svg"></i> &nbsp; SVG Graphics</a>
</div>
<!-- #END :: Partial Sub-Template: TestUnit.Main.ModJsComponents -->