<!-- bpmn-import.htm v.20210411 -->
<form class="ux-form" id="bpmn_form" name="bpmn_form" method="POST" action="admin.php?/page/agile.bpmn-editor/edit/yes/import/done">
	<textarea name="bpmn_data" rows="10" cols="50" style="width:calc(100vw - 50px);" spellcheck="false" placeholder="Paste BPMN-Diagram JSON Document or BPMN 2.0 XML here ..."></textarea>
	<br>
	<br>
	<button class="ux-button ux-button-small ux-button-regular" type="submit" style="margin-left: 15px;">Create from Import</button>
	<button class="ux-button ux-button-small ux-button-special" onclick="smartJ$Browser.CloseModalPopUp(); return false;" style="margin-left: 15px;">Cancel Create</button>
</form>