<!-- dbmodel.htm v.20190117 -->
<h1>Create DB-Model</h1>
<br>
<a class="ux-button ux-button-primary" href="admin.php?/page/agile.dbmodel-editor/edit/yes/type/sqlite" data-smart="open.modal">New DB-Model: SQLite</a>
&nbsp;
<a class="ux-button ux-button-primary" href="admin.php?/page/agile.dbmodel-editor/edit/yes/type/postgresql" data-smart="open.modal">New DB-Model: PostgreSQL</a>
&nbsp;
<a class="ux-button ux-button-primary" href="admin.php?/page/agile.dbmodel-editor/edit/yes/type/mysql" data-smart="open.modal">New DB-Model: MySQL</a>
&nbsp;
<a class="ux-button ux-button-secondary" href="admin.php?/page/agile.dbmodel-import" data-smart="open.modal">Import DB-Model from Server</a>
<br>
<br>
<h1>Saved DB-Models</h1>
<br>
[%%%%LOOP:DB-MODELS%%%%]
	<br>
	<a class="ux-button" href="admin.php?/page/agile.dbmodel-editor/uuid/[####DB-MODELS.UUID|url|html####]" data-smart="open.modal" title="UUID: [####DB-MODELS.UUID|html####]">DbModel: [####DB-MODELS.TITLE|html####] @ [####DB-MODELS.USER|html####] - [####DB-MODELS.DTIME|html####]</a>
	<br>
[%%%%/LOOP:DB-MODELS%%%%]