<!-- dbmodel-import.htm v.20200121 -->
<form class="ux-form" id="dbmodel_form" name="dbmodel_form" method="POST" action="admin.php?/page/agile.dbmodel-editor/edit/yes/import/done">
	<textarea name="dbmodel_data" rows="10" cols="50" style="width:calc(100vw - 50px);" spellcheck="false" placeholder="Paste DB-Model JSON Document or DB-Model XML here ..."></textarea>
	<br>
	<br>
	<button class="ux-button ux-button-small ux-button-regular" type="submit" style="margin-left: 15px;">Create from Import</button>
	<button class="ux-button ux-button-small ux-button-special" onclick="SmartJS_BrowserUtils.CloseModalPopUp(); return false;" style="margin-left: 15px;">Cancel Create</button>
</form>