<form class="ux-form" id="dbmodel_form" name="dbmodel_form" method="POST" action="#">
	<input id="dbmodel_uuid" name="uuid" type="hidden" value="[####UUID|html####]">
	<input id="dbmodel_title" name="dbmodel_title" type="text" maxlength="255" value="[####TITLE|html####]" title="DbModel Title" class="ux-field" style="width:99vw; margin-bottom:5px; font-size:28px!important; font-weight:bold; text-align:center;">
	<input id="dbmodel_type" name="dbmodel_type" type="hidden" value="[####DB-TYPE|html####]">
	<input id="dbmodel_data" name="dbmodel_data" type="hidden" value="">
</form>
<br>
<div style="text-align:center; font-weight:bold;">Version: [####DATE|html####] / Author: [####AUTHOR|html####]</div>
[@@@@SUB-TEMPLATE:dbmodel-init.inc.htm@@@@]
<script>
	SmartJS_BrowserUtils.PageAwayControl('Exit without Save ?');
</script>