[@@@@SUB-TEMPLATE:flowchart-init.inc.htm@@@@]
<!-- flowchart-editor.htm v.20190405 -->
<link rel="stylesheet" href="modules/mod-wflow-components/views/flowchart/editor/flowchart-editor-edit.css">
<style>
#area-editable {
	background: white url("[####VIEWS-PATH|html####]img/back.svg");
	background-size: 250px 250px;
	background-repeat: repeat;
	border: 0px !important;
}
</style>
<form class="ux-form" id="flowchart_form" name="flowchart_form" method="POST" action="#">
	<input id="flowchart_uuid" name="uuid" type="hidden" value="[####UUID|html####]">
	<input id="flowchart_title" name="flowchart_title" type="text" maxlength="255" value="[####TITLE|html####]" title="Flowchart Title" class="ux-field" style="width:calc(100vw - 50px); margin-bottom:5px; font-size:1rem!important; font-weight:bold; text-align:center;">
	<input id="flowchart_data" name="flowchart_data" type="hidden" value="">
</form>
<div style="text-align:center; font-weight:bold;">Version: [####DATE|html####] / Author: [####AUTHOR|html####]</div>
<br>
<div style="text-align:center;">
	<select class="ux-field ux-input-medium" style="width:300px;" autocomplete="off">
		<option value="">--- Create a New FlowChart Element (select from below) ---</option>
		<optgroup label="Active Elements">
			<option value="terminal" id="flowchartNewSBtn">New Terminal (Start/Stop)</option>
			<option value="display" id="flowchartNewCBtn">New Display</option>
			<option value="process" id="flowchartNewBtn">New Process</option>
			<option value="decision" id="flowchartNewDBtn">New Decision</option>
			<option value="data" id="flowchartNewIOBtn">New Data-Store</option>
		</optgroup>
		<optgroup label="Passive Elements">
			<option value="note" id="flowchartNewNtBtn">New Note</option>
		</optgroup>
	</select>
	<button class="ux-button ux-button-small ux-button-regular" id="flowchartSaveBtn" onclick="" style="margin-left: 15px;">Save Flowchart</button>
	[%%%%IF:OP-MODE:==create;%%%%]
	<button class="ux-button ux-button-small ux-button-special" id="flowchartCancelBtn" onclick="SmartJS_BrowserUtils.CloseModalPopUp(); SmartJS_BrowserUtils.RefreshParent(); return false;" style="margin-left: 15px;">Cancel Create</button>
	[%%%%ELSE:OP-MODE%%%%]
	<button class="ux-button ux-button-small ux-button-special" id="flowchartCancelBtn" onclick="self.location='admin.php?/page/agile.flowchart-editor/uuid/[####UUID|url|html####]'; return false;" style="margin-left: 15px;">Cancel Edit</button>
	[%%%%/IF:OP-MODE%%%%]
</div>
<br>
<div id="area-editable" class="jtk-main">
	<div class="canvas-wide flowchart-area jtk-surface jtk-surface-nopan" id="canvas" style="border: 1px solid #ECECEC;"></div>
</div>
<script>
	var flowchartIsReadonly = false;
	var flowchartAddDialogHelper = function(elemType, fxGenerateElement) {
		if(elemType == 'note') {
			SmartJS_BrowserUtils.confirm_Dialog('<h3>Create Element: ' + SmartJS_CoreUtils.escape_html(SmartJS_CoreUtils.ucfirst(elemType)) + '</h3><div class="flowchart-area"><div class="jtk-node ' + SmartJS_CoreUtils.escape_html(elemType) + '" style="position:absolute; top:82px; right:25px;"></div></div>', function(){ fxGenerateElement(elemType, null); }, 'New Flowchart Passive Element', 550, 200);
		} else {
			var extClass = '';
			switch(elemType) {
				case 'terminal':
					extClass = ' circle';
					break;
				case 'display':
					extClass = ' parallelogram';
					break;
				case 'decision':
					extClass = ' diamond';
					break;
				case 'data':
					extClass = ' oval';
					break;
				case 'process':
				default:
					extClass = '';
			}
			SmartJS_BrowserUtils.confirm_Dialog('<h3>Create Element: ' + SmartJS_CoreUtils.escape_html(SmartJS_CoreUtils.ucfirst(elemType)) + '</h3><div>Select the Connector Type for Element: <select id="flowchart-add-element-type" class="ux-field"><option value="DEFAULT">Default</option><option value="INVERTED">Inverted</option><option value="PERIMETER">Perimeter</option></select></div><div class="flowchart-area"><div class="jtk-node' + SmartJS_CoreUtils.escape_html(extClass) + '" style="position:absolute; top:57px; right:25px;"></div></div>', function(){ var theLabel = $("#flowchart-add-element-type").val(); fxGenerateElement(elemType, theLabel); }, 'New Flowchart Active Element', 550, 235);
		}
	}
	var flowchartEditDialogHelper = function(labelType, txtElemLabel, objElemLabel, fxSetLabel) {
		labelType = String(labelType || '');
		if(labelType.toLowerCase() === 'box icon') {
			var theList = '';
			var theIcons = [####THE-ICONS|json####];
			theList += '<h5 style="color:#555555;">SF.Icons</h5>';
			theList += '<input type="hidden" id="flowchart-element-icon" value="' + SmartJS_CoreUtils.escape_html(txtElemLabel) + '">';
			if(theIcons.length) {
				for(var i=0; i<theIcons.length; i++) {
					theList += '<div title="Click to select SF.Icon: ' + SmartJS_CoreUtils.escape_html(theIcons[i]) + '" style="float:left; margin-right:3px; margin-bottom:3px; cursor:pointer; color:#778899; font-size:1rem!important;" class="' + SmartJS_CoreUtils.escape_html(theIcons[i]) + '" onclick="var theIconClass = jQuery(this).attr(\'class\'); jQuery(\'#flowchart-element-icon\').val(theIconClass); jQuery(\'#flowchart-element-selected-icon\').attr(\'class\', theIconClass).attr(\'title\', \'Selected Icon: \' + theIconClass);"></div>';
				}
			}
			[%%%%IF:LOAD-FA:==yes;%%%%]
			theIcons = [####FA-ICONS|json####];
			if(theIcons.length) {
				theList += '<div style="clear:both;"></div><br>';
				theList += '<h5 style="color:#555555;">Font Awesome</h5>';
				for(var i=0; i<theIcons.length; i++) {
					theList += '<div title="Click to select FontAwesome Icon: ' + SmartJS_CoreUtils.escape_html(theIcons[i]) + '" style="float:left; margin-right:3px; margin-bottom:3px; cursor:pointer; color:#778899; font-size:1rem!important;" class="' + SmartJS_CoreUtils.escape_html(theIcons[i]) + '" onclick="var theIconClass = jQuery(this).attr(\'class\'); jQuery(\'#flowchart-element-icon\').val(theIconClass); jQuery(\'#flowchart-element-selected-icon\').attr(\'class\', theIconClass).attr(\'title\', \'Selected Icon: \' + theIconClass);"></div>';
				}
			}
			[%%%%/IF:LOAD-FA%%%%]
			SmartJS_BrowserUtils.confirm_Dialog('<h3>' + SmartJS_CoreUtils.escape_html(labelType) + ' &nbsp; <span title="Selected Icon: ' + SmartJS_CoreUtils.escape_html(txtElemLabel) + '" style="font-size:1.5rem!important; cursor:help;" id="flowchart-element-selected-icon" class="' + SmartJS_CoreUtils.escape_html(txtElemLabel) + '" onClick="jQuery(\'#flowchart-element-icon\').val(\'\'); jQuery(this).attr(\'class\', \'\').attr(\'title\', \'\');"></span></h3><div style="width:100%; height:200px; overflow:auto;">' + theList + '</div>', function(){ fxSetLabel(objElemLabel, $("#flowchart-element-icon").val()); }, 'Modify Flowchart Element', 550, 355);
		} else {
			SmartJS_BrowserUtils.confirm_Dialog('<h3>' + SmartJS_CoreUtils.escape_html(labelType) + '</h3><div>Label:&nbsp; <input type="text" maxlength="50" value="' + SmartJS_CoreUtils.escape_html(txtElemLabel) + '" id="flowchart-element-label" class="ux-field" style="width:425px;"></div>', function(){ fxSetLabel(objElemLabel, $("#flowchart-element-label").val()); }, 'Modify Flowchart Element', 550, 200);
		}
	}
	var flowchartDeleteDialogHelper = function(objType, objElemSel, fxRemoveElem) {
		SmartJS_BrowserUtils.confirm_Dialog('<h3>Delete this ' + SmartJS_CoreUtils.escape_html(objType) + ' ?</h3>', function(){ fxRemoveElem(objElemSel); }, 'Confirm remove Flowchart ' + SmartJS_CoreUtils.escape_html(objType), 550, 170);
	}
	var flowchartSaveDataHelper = function(data) {
	//	data.docTitle = String($('#flowchart_title').val());
		var theData = JSON.stringify(data);
		$('#flowchart_data').val(theData);
		SmartJS_BrowserUtils.RefreshParent();
		SmartJS_BrowserUtils.Submit_Form_By_Ajax('flowchart_form', 'admin.php?page=agile.flowchart-save', 'yes');
	}
	var flowchartExportDataHelper = null; /* function(data) {
		data.docTitle = String($('#flowchart_title').val());
		SmartJS_BrowserUtils.VirtualFileDownload(String(JSON.stringify(data, null, 2)), 'flowchart.json', 'application/json', 'UTF-8');
	} */
</script>
<script>
	var flowchartDataObj = [####JSON-DATA|json####];
	flowchartEditorInit(flowchartDataObj, flowchartIsReadonly, flowchartAddDialogHelper, flowchartEditDialogHelper, flowchartDeleteDialogHelper, flowchartSaveDataHelper, flowchartExportDataHelper);
	flowchartDataObj = null; // clear
</script>
<script>
	SmartJS_BrowserUtils.PageAwayControl('Exit without Save ?');
</script>