<form class="ux-form" id="flowchart_form" name="flowchart_form" method="POST" action="admin.php?/page/agile.flowchart-editor/edit/yes/import/done">
	<input id="flowchart_title" name="flowchart_title" type="text" maxlength="255" value="New Flowchart" title="Flowchart Title" class="ux-field" style="width:99vw; margin-bottom:5px; font-size:28px!important; font-weight:bold; text-align:center;">
	<textarea name="flowchart_data" rows="10" cols="50" style="width:99vw;" spellcheck="false"></textarea>
	<br>
	<br>
	<button class="ux-button ux-button-regular" type="submit" style="margin-left: 15px;">Create from Import</button>
	<button class="ux-button ux-button-special" id="flowchartCancelBtn" onclick="SmartJS_BrowserUtils.CloseModalPopUp(); return false;" style="margin-left: 15px;">Cancel Create</button>
</form>