<!-- mockup-import.htm v.20190117 -->
<form class="ux-form" id="mockup_form" name="mockup_form" method="POST" action="admin.php?/page/agile.mockup-editor/edit/yes/import/done">
	<input id="mockup_title" name="mockup_title" type="text" maxlength="255" value="New Mockup" title="Mockup Title" class="ux-field" style="width:calc(100vw - 50px); margin-bottom:5px; font-size:28px!important; font-weight:bold; text-align:center;">
	<textarea name="mockup_data" rows="10" cols="50" style="width:calc(100vw - 50px);" spellcheck="false" placeholder="Paste Mockup JSON Document here ..."></textarea>
	<br>
	<br>
	<button class="ux-button ux-button-regular" type="submit" style="margin-left: 15px;">Create from Import</button>
	<button class="ux-button ux-button-special" onclick="SmartJS_BrowserUtils.CloseModalPopUp(); return false;" style="margin-left: 15px;">Cancel Create</button>
</form>