<!-- mockup-editor.htm v.20230123 -->
<form class="ux-form" id="mockup_form" name="mockup_form" method="POST" action="#">
	<input id="mockup_uuid" name="uuid" type="hidden" value="[###UUID|html###]">
	<input id="mockup_title" name="mockup_title" type="text" maxlength="255" value="[###TITLE|html###]" title="Mockup Title" class="ux-field" style="width:calc(100vw - 50px); margin-bottom:5px; font-size:1rem!important; font-weight:bold; text-align:center;">
	<input id="mockup_data" name="mockup_data" type="hidden" value="">
</form>
<div style="text-align:center; font-weight:bold;">Version: [###DATE|html###] / Author: [###AUTHOR|html###]</div>
<br>
<div style="text-align:center;">
	<button class="ux-button ux-button-small ux-button-regular" id="mockupSaveBtn" onclick="doSaveMockup();" style="margin-left: 15px;">Save Mockup</button>
	[%%%IF:OP-MODE:==create;%%%]
	<button class="ux-button ux-button-small ux-button-special" id="mockupCancelBtn" onclick="smartJ$Browser.CloseModalPopUp(); smartJ$Browser.RefreshParent(); return false;" style="margin-left: 15px;">Cancel Create</button>
	[%%%ELSE:OP-MODE%%%]
	<button class="ux-button ux-button-small ux-button-special" id="mockupCancelBtn" onclick="self.location='admin.php?/page/agile.mockup-editor/uuid/[###UUID|url|html###]'; return false;" style="margin-left: 15px;">Cancel Edit</button>
	[%%%/IF:OP-MODE%%%]
</div>
<br>
<!-- jQueryUI Interractions -->
<link rel="stylesheet" href="modules/mod-auth-admins/views/js/ui-interractions/jquery.ui-interractions.css" type="text/css">
<script type="text/javascript" src="modules/mod-auth-admins/views/js/ui-interractions/jquery.ui-interractions.js"></script>
<script type="text/javascript" src="modules/mod-auth-admins/views/js/ui-interractions/jquery.ui-touch-punch.js"></script>
<!-- MD ShowDown -->
<script src="modules/mod-wflow-components/views/md-showdown/showdown.js"></script>
<script src="modules/mod-wflow-components/views/md-showdown/showdown-htmlescape.js"></script>
<script src="modules/mod-wflow-components/views/md-showdown/showdown-mdui.js"></script>
<!-- QMockup -->
<script src="modules/mod-wflow-components/views/qmockup/jq-ui-edit-md2html.js"></script>
<link href="modules/mod-wflow-components/views/qmockup/qmockup-editor.css" rel="stylesheet">
<script src="modules/mod-wflow-components/views/qmockup/qmockup-editor.js"></script>
<link href="modules/mod-wflow-components/views/qmockup/qmockup-elements.css" rel="stylesheet">
<style>
#mockupContainer {
	background: #333333;
	border: 1px solid #555555;
	padding: 0px !important;
	margin: 0px;
	width: calc(100vw - 100px) !important;
	height: calc(100vh - 175px) !important;
	overflow: hidden;
	display: flex;
	text-align: left;
}
#canvasWrap {
	margin: 0;
	padding: 0px;
	flex: 1 1 100%;
	position: relative;
	background-color: #333333;
	overflow: auto;
}
#canvas {
	background: white url("[###VIEWS-PATH|html###]img/back.svg");
	background-size: 250px 250px;
	background-repeat: repeat;
	border: 0px !important;
}
#widgetsArea {
	width: 350px !important;
	height: calc(100vh - 175px) !important;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: 1px;
}
</style>
<div id="mockupContainer">
	<div id="widgetsArea"></div>
	<div id="canvasWrap">
		<div id="canvas">
			<!-- Js.QuickMockup:Content -->
			<!-- Js.QuickMockup:#END -->
		</div>
	</div>
</div>
<input id="img-uploader-id" type="file" size="1" style="width: 5px !important; height: 5px !important; opacity: 0 !important;">
<div id="img-uploader-preview" style="position:fixed; bottom:5px; right:5px; background-color:#FFFFFF; border: 3px solid #FFFFFF;"></div>
<script>
	var mockupDataObj = [###JSON-DATA|json###];
	qMockupEditor.setupEditor('widgetsArea', 350);
	qMockupEditor.loadDocumentData(mockupDataObj);
	mockupDataObj = null; // clear
	qMockupEditor.setupElements();
</script>
<script>
	smartJ$Browser.PageAwayControl('Exit without Save ?');
</script>
<script>
function doSaveMockup() {
	var data = qMockupEditor.getCanvasData();
//	data.docTitle = String($('#mockup_title').val());
	data = JSON.stringify(data);
	//console.log(data);
	$('#mockup_data').val(data);
	smartJ$Browser.RefreshParent();
	smartJ$Browser.SubmitFormByAjax('mockup_form', 'admin.php?page=agile.mockup-save', 'yes');
}
</script>