[@@@SUB-TEMPLATE:todo-k-init.inc.htm@@@]
<!-- todo-k-reader.htm v.20200121 -->
<div style="text-align:center; font-size:1rem!important; font-weight:bold; background:#445566; color:#FFFFFF; border-radius:1px;">
	<span id="todo_title">[###TITLE|html###]</span>
</div>
<div style="text-align:center; font-weight:bold;">Version: [###DATE|html###] / Author: [###AUTHOR|html###]</div>
<script>
var kanbanBoard = new JsKanban;
jQuery(document).ready(function() {
	var kanbanDataObj = [###JSON-DATA|json###];
	kanbanBoard.initBoard('.jskanban_area', true);
	kanbanBoard.importData(kanbanDataObj);
	kanbanDataObj = null;
});
</script>
<script>
function doExportToDoList() {
	kanbanBoard.saveBoard(function(tasks, doc){
		if(!doc) {
			console.error('Invalid Doc Container');
			return;
		}
		if(doc.docType != 'smartWorkFlow.TodoList') {
			console.error('Invalid Doc Container Type');
			return;
		}
		if(!doc.data) {
			console.error('Invalid Doc Container Data');
			return;
		}
		if(!doc.data.todos) {
			console.error('Invalid Doc Container Data / ToDo');
			return;
		}
		doc.data.todos.data = tasks;
		doc.docTitle = String($('#todo_title').text());
		var exportDTime = '[###DTIME|js###]';
		var exportAuthor = '[###AUTHOR|js###]';
		SmartJS_BrowserUtils.VirtualFileDownload(String(JSON.stringify(doc, null, 2)), 'todo-list-' + exportDTime + '@' + exportAuthor + '.json', 'application/json', 'UTF-8');
	});
}
</script>
<div style="text-align:center;">
	<a class="ux-button ux-button-small ux-button-info" href="admin.php?/page/agile.todo-editor/uuid/[###UUID|url|html###]" style="margin-left: 15px;">Gantt-Chart</a>
	<button class="ux-button ux-button-small ux-button-secondary" onclick="doExportToDoList();" style="margin-left: 15px;">Export as JSON</button>
	<button class="ux-button ux-button-small ux-button-highlight" onclick="self.location='admin.php?/page/agile.todo-editor/mode/kanban/uuid/[###UUID|url|html###]/edit/yes'; return false;" style="margin-left: 15px;">Edit ToDo-List</button>
	<button class="ux-button ux-button-small ux-button-special" onclick="SmartJS_BrowserUtils.CloseModalPopUp(); return false;" style="margin-left: 15px;">Close View</button>
</div>
<br>
[@@@SUB-TEMPLATE:todo-k-board.inc.htm@@@]