<!-- todo-import.htm v.20191109 -->
<form class="ux-form" id="todo_form" name="todo_form" method="POST" action="admin.php?/page/agile.todo-editor/edit/yes/import/done">
	<textarea name="todo_data" rows="10" cols="50" style="width:calc(100vw - 50px);" spellcheck="false" placeholder="Paste ToDo-List JSON Document here ..."></textarea>
	<br>
	<br>
	<button class="ux-button ux-button-small ux-button-regular" type="submit" style="margin-left: 15px;">Create from Import</button>
	<button class="ux-button ux-button-small ux-button-special" onclick="SmartJS_BrowserUtils.CloseModalPopUp(); return false;" style="margin-left: 15px;">Cancel Create</button>
</form>