<!-- todo-init.inc.htm v.20190128 -->
<link rel="stylesheet" href="modules/mod-wflow-components/views/gantt/skins/terrace.css" type="text/css" media="screen">
<script type="text/javascript" src="modules/mod-wflow-components/views/gantt/dhtmlx-init.js"></script>
<script type="text/javascript" src="modules/mod-wflow-components/views/gantt/gantt.js"></script>
<script type="text/javascript" src="modules/mod-wflow-components/views/gantt/ext/gantt-plugin-markers.js"></script>
<script type="text/javascript" src="modules/mod-wflow-components/views/gantt/ext/gantt-plugin-tooltip.js"></script>
<script type="text/javascript" src="modules/mod-wflow-components/views/gantt/ext/gantt-plugin-quickinfo.js"></script>
<script type="text/javascript" src="modules/mod-wflow-components/views/gantt/smart-gantt.js"></script>
<style type="text/css">
#gantt-chart {
	text-align: left;
	width: calc(99vw - 20px);
	height: calc(99vh - 127px);
	position: absolute;
	top: 125px;
	left: 15px;
}
.gantt_scale_cell {
	font-size: 13px !important;
	font-weight: bold;
}
.gantt_tree_content {
	font-size: 12px !important;
	line-height: 27px !important
}
</style>