[@@@SUB-TEMPLATE:todo-k-init.inc.htm@@@]
<!-- todo-k-editor.htm v.20210413 -->
<style>
.jskanban_box {
	cursor: grab;
}
</style>
<form class="ux-form" id="todo_form" name="todo_form" method="POST" action="#">
	<input id="todo_uuid" name="uuid" type="hidden" value="[###UUID|html###]">
	<input id="todo_title" name="todo_title" type="text" maxlength="255" value="[###TITLE|html###]" title="ToDo-List Title" class="ux-field" style="width:calc(100vw - 50px); margin-bottom:5px; font-size:1rem!important; font-weight:bold; text-align:center;">
	<input id="todo_data" name="todo_data" type="hidden" value="">
</form>
<div style="text-align:center; font-weight:bold;">Version: [###DATE|html###] / Author: [###AUTHOR|html###]</div>
<script>
var kanbanBoard = new JsKanban;
jQuery(document).ready(function() {
	var kanbanDataObj = [###JSON-DATA|json###];
	kanbanBoard.initBoard('.jskanban_area');
	kanbanBoard.importData(kanbanDataObj);
	kanbanDataObj = null;
	jQuery('#kanban-save-data').click(function(){
		kanbanBoard.saveBoard(function(tasks, doc){
			if(!doc) {
				console.error('Invalid Doc Container');
				return;
			}
			if(doc.docType != 'smartWorkFlow.TodoList') {
				console.error('Invalid Doc Container Type');
				return;
			}
			if(!doc.data) {
				console.error('Invalid Doc Container Data');
				return;
			}
			if(!doc.data.todos) {
				console.error('Invalid Doc Container Data / ToDo');
				return;
			}
			doc.data.todos.data = tasks;
		//	doc.docTitle = String($('#todo_title').val());
			var theData = JSON.stringify(doc);
			jQuery('#todo_data').val(theData);
			smartJ$Browser.RefreshParent();
			smartJ$Browser.SubmitFormByAjax('todo_form', 'admin.php?page=agile.todo-save&mode=kanban', 'yes');
		});
	});
});
</script>
<div style="text-align:center;">
	<button class="ux-button ux-button-small ux-button-regular" id="kanban-save-data" style="margin-left: 15px;">Save ToDo-List</button>
	[%%%IF:OP-MODE:==create;%%%]
	<button class="ux-button ux-button-small ux-button-special" onclick="smartJ$Browser.CloseModalPopUp(); smartJ$Browser.RefreshParent(); return false;" style="margin-left: 15px;">Cancel Create</button>
	[%%%ELSE:OP-MODE%%%]
	<button class="ux-button ux-button-small ux-button-special" onclick="self.location='admin.php?/page/agile.todo-editor/mode/kanban/uuid/[###UUID|url|html###]'; return false;" style="margin-left: 15px;">Cancel Edit</button>
	[%%%/IF:OP-MODE%%%]
</div>
<br>
[@@@SUB-TEMPLATE:todo-k-board.inc.htm@@@]
<script>
	smartJ$Browser.PageAwayControl('Exit without Save ?');
</script>