<!-- todo-k-init.inc.htm v.20190305 -->
<script type="text/javascript" src="lib/js/jquery/jquery.sparkline.js"></script>
<!-- jQueryUI Interractions -->
<link rel="stylesheet" href="lib/js/jquery/ui-interractions/jquery.ui-interractions.css" type="text/css">
<script type="text/javascript" src="lib/js/jquery/ui-interractions/jquery.ui-interractions.js"></script>
<script type="text/javascript" src="lib/js/jquery/ui-interractions/jquery.ui-touch-punch.js"></script>
<!-- KanBan -->
<link rel="stylesheet" type="text/css" href="modules/mod-wflow-components/views/kanban/jskanban.css">
<script type="text/javascript" src="modules/mod-wflow-components/views/kanban/jskanban.js"></script>