<style>
.email-hdr-bttn {
	margin-right: 10px;
}
</style>
<div style="text-align:right; padding-right:10px; position:fixed; top:10px; right:5px;">
	<a href="[###ACTION-REPLY|html###]" class="ux-button ux-button-dark email-hdr-bttn" title="Reply to this Message"><i class="sfi sfi-reply"></i></a>
	<a href="[###ACTION-FORWARD|html###]" class="ux-button ux-button-secondary email-hdr-bttn" title="Forward this Message"><i class="sfi sfi-forward"></i></a>
	[%%%IF:PDF-ACTIVE:==yes;%%%]
	<button class="ux-button ux-button-special email-hdr-bttn" title="PDF Print Message" onClick="smartJ$Browser.PopUpLink(self.location + '&print=yes&pdf=yes', 'webmail-pdf', null, null, 1);"><i class="sfi sfi-file-pdf"></i></button>
	[%%%/IF:PDF-ACTIVE%%%]
</div>
