/* sample.css */

body {
  color: #111111;
  background: #FFFFFF;
  font-family: Arial, sans;
}

a {
  color: #111111;
}

h1 {
  font-size: 3em;
  margin: 0; padding: 1em 0;
  display: inline;
}

h2 {
  margin: 1.5em 0 0.5em 0;
  display: inline-block;
}

hr {
	border: none 0;
	border-top: 1px solid #ECECEC;
	height: 1px;
}

pre {
  margin: 0;
  font-size: medium;
}

#sidebar {
  float: left; width: 16em; height: 1000em; position: fixed;
  padding: 1px 1em;
  background: #600;
  box-shadow: 0 0 15px black;
}

#sidebar ul,
#sidebar li {
  list-style: none;
  margin: 0; padding: 0;
}

#sidebar ul {
  position: relative;
  overflow-y: hidden;
}

#sidebar li {
  padding: 1px 1em;
  cursor: pointer;
}

#sidebar li:hover {
  background: #500;
}

#sidebar li.current:before {
  content: '▶'; font-size: smaller;
  position: absolute; left: 0;
}

#content {
  margin-left: 19em;
}

#languages {
  padding: 1px 4em;
}

#languages div {
  display: none;
}

#languages div {
  margin: 3em 0;
}

/* END */