<!-- start dust partial / sub-template -->
{! Partial / Sub-Template: sample-partial.dust.inc.htm !}<!-- comments are removed -->
	<h5 id="qunit-test-result">Dust TPL w. Sub-Template Render (Table with #{tcount|h} columns):</h5>
	<table style="border: 1px solid #ECECEC; width: 550px;" id="qunit-test-el">
	<tr>
		<th>Column 1<th>
		<th>Column 2<th>
		<th>Column 3<th>
	</tr>
	{#tbl}
	<tr>
		<td>cell {a1|h}<td>
		<td>cell {a2|h}<td>
		<td>cell {a3|h}<td>
	</tr>
	{/tbl}
	</table>
	<ul>
	{#navigation}
		<!-- index: {$idx|h} -->
		<li><a href="{href|h}" title="maxsize={$len|h} ; maxcount={$cnt|h}">{$icnt|h}. {caption|h} ({$iter|h})</a></li>{~n}
	{/navigation}
	</ul>
	Test Condition#1:
	{@if lexpr="{a}" operator="==" rexpr="Test-1"}
		<b>OK</b>
	{:else}
		<span style="color:#FF3300;"><b>NOT OK</b></span>
	{/if}
	<br>
	Test Condition#2:
	{@if lexpr="{a}" operator="==" rexpr="{b}"}
		<span style="color:#FF3300;"><b>NOT OK</b></span>
	{:else}
		{@if lexpr="{b}" operator="==" rexpr="Test-1"}
			<span style="color:#FF3300;"><b>NOT OK</b></span>
		{:else}
			{@if lexpr="{a}" operator="!=" rexpr="Test-1"}
				<span style="color:#FF3300;"><b>NOT OK</b></span>
			{:else}
				<b>OK</b>
			{/if}
		{/if}
	{/if}
<!-- end dust partial / sub-template -->
