<!-- summary r.20191120 -->
<script>
[@@@SUB-TEMPLATE:partials/summary-js.mtpl.inc.js@@@]
</script>
<div class="doc-summary">
	<select id="select-summary" onChange="smartHandleDocSelector(this); return false;">
		<option value="" selected>* Javascript [###TYPE|ucfirst|html###] [###NAME|html###] # Documentation Index *</option>
		<optgroup label="[###TYPE|ucfirst|html###] [###NAME|html###]">
			<option value="Class--Summary-">***** [###TYPE|ucfirst|html###] Definition *****</option>
		</optgroup>
		<optgroup label="[###TYPE|ucfirst|html###] Methods">
			<option value="Methods--Summary-">*** Methods summary ***</option>
			[%%%LOOP:ARR-METHODS%%%]
			[%%%IF:ARR-METHODS.IS-INTERNAL-PRIV:!=1;%%%]
			<option value="Method--[###ARR-METHODS.NAME|htmid|html###]">Method: [###ARR-METHODS.NAME|html###]()</option>
			[%%%/IF:ARR-METHODS.IS-INTERNAL-PRIV%%%]
			[%%%/LOOP:ARR-METHODS%%%]
		</optgroup>
		[%%%IF:ARR-PROPERTIES:@>0;%%%]
		<optgroup label="[###TYPE|ucfirst|html###] Properties">
			<option value="Properties--Summary-">*** Properties summary ***</option>
			[%%%LOOP:ARR-PROPERTIES%%%]
			[%%%IF:ARR-PROPERTIES.IS-INTERNAL-PRIV:!=1;%%%]
			<option value="Property--[###ARR-PROPERTIES.NAME|htmid|html###]">Property: [###ARR-PROPERTIES.NAME|html###]</option>
			[%%%/IF:ARR-PROPERTIES.IS-INTERNAL-PRIV%%%]
			[%%%/LOOP:ARR-PROPERTIES%%%]
		</optgroup>
		[%%%/IF:ARR-PROPERTIES%%%]
		[%%%IF:DOC-CODE-HTML:!=;%%%]
		<optgroup label="[###TYPE|ucfirst|html###] Sample code">
			<option value="SAMPLE--Code-">*** Sample code ***</option>
		</optgroup>
		[%%%/IF:DOC-CODE-HTML%%%]
	</select>
</div>
