<!-- styles r.20220906 -->
<style type="text/css">
.doc-package {
	color: #3F51B5;
}
.doc-located,
.doc-version {
	color: #999999;
}
.doc-modifiers {
	color: #FF5500;
}
.doc-keyword {
	color: #333333;
}
.doc-name,
.doc-param-name {
	color: #666699;
}
.doc-method-name {
	color: #111111;
}
.doc-method-sub-name {
	color: #555555;
}
.doc-method-special-name {
	color: #003399;
}
.doc-method-abstract-name {
	color: #777777;
}
.doc-ns,
.doc-frozen,
.doc-param-optional {
	color: #778899;
}
.doc-param-value {
	color: #3F51B5;
}
.doc-param-set,
.doc-param-get {
	color: #888888;
}
.doc-param-set-comment,
.doc-param-get-comment {
	color: #3F51B5;
}
.doc-implements {
	color: #72C100;
}
.doc-language {
	color: #92981b;
}
.doc-extends,
.doc-type-class {
	color: #20639E;
}
.doc-inherited,
.doc-type-interface {
	color: #AAAAAA;
}
.doc-use,
.doc-type-trait {
	color: #888888;
}
.doc-reimplemented,
.doc-reuses {
	color: #99AABB;
}
.doc-throws {
	color: #FF0000;
}
.doc-header {
	color: #3F51B5;
}
div.doc-container {
	border: 1px solid #ECECEC;
	padding: 5px;
	margin-bottom: 20px;
}
ul.doc-list,
ul.doc-list ul {
	padding: 10px;
	margin: 0;
	list-style-type: none;
}
ul.doc-list ul {
	padding: 0px;
	padding-left: 20px;
	margin: 0;
}
.doc-comments {
	background: #343C61;
	color: #FCFCFC;
	padding: 10px;
	line-height: 1.75;
}
.doc-method-ret-params {
	background: #FAFAFA;
	color: #3F51B5;
	padding: 2px;
	font-size: 95%;
	margin-top: 10px;
}
.doc-method-comments {
	background: #ECECEC;
	color: #333333;
	padding: 2px;
	font-size: 85%;
	margin-top: 10px;
}
.doc-code {
	background: #232B50;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}
.doc-code pre {
	padding: 5px;
	overflow-x: auto;
}
div.doc-summary {
	position: fixed;
	top: 75px;
	right: 175px;
	padding: 10px;
	background: #343C61;
	color: #FFFFFF;
	border: 1px solid #3C4663;
	width: 45vw;
	min-width: 320px !important;
}
select#select-summary {
	width: 99% !important;
}
</style>
<style type="text/css">
[@@@SUB-TEMPLATE:!modules/mod-highlight-syntax/views/css/atelier-sulphurpool-dark.css!|syntax@@@]
</style>