<!-- summary r.20191104 -->
<script>
[@@@@SUB-TEMPLATE:partials/summary-js.mtpl.inc.js@@@@]
</script>
<div class="doc-summary">
	<select id="select-summary" onChange="smartHandleDocSelector(this); return false;">
		<option value="" selected>* Documentation Index *</option>
		<optgroup label="Packages">
			[%%%%LOOP:PACKAGES%%%%]
			<option value="Package--[####PACKAGES._-KEY-_|htmid|html####]-">Package: [####PACKAGES._-KEY-_|html####]</option>
			[%%%%/LOOP:PACKAGES%%%%]
		</optgroup>
	</select>
</div>
