<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kanban Board - Demo</title>

<script type="text/javascript" src="../../../../../lib/js/jquery/jquery.js"></script>

<link rel="stylesheet" href="../../../../mod-js-components/views/js/jqueryui-interract/jquery.ui-interract.css" type="text/css">
<script type="text/javascript" src="../../../../mod-js-components/views/js/jqueryui-interract/jquery.ui-interract.js"></script>
<script type="text/javascript" src="../../../../mod-js-components/views/js/jqueryui-interract/jquery.ui-touch-punch.js"></script>

<style>
body {
	font-family:Arial;
}
table {
	font-size: 1em;
}
h2 {
	margin: 5px;
}
input[type=text] {
	margin: 10px;
}
button {
	margin:10px;
}
.jskanban_box {
	cursor:grab;
}
/*
.ui-draggable, .ui-droppable {
	background-position: top;
}
*/
</style>
<link rel="stylesheet" type="text/css" href="../jskanban.css">
<script type="text/javascript" src="../jskanban.js"></script>
<script>
jQuery(function() {
	JS_Kanban.initBoard('#333333');
	jQuery('.jskanban_add_bttn').click(function() {
		var txtNewItem = jQuery('.jskanban_add_field').val();
		JS_Kanban.addTask('.jskanban_area', txtNewItem);
		jQuery('.jskanban_add_field').val('');
	});
	jQuery('.jskanban_save_bttn').click(function() {
		JS_Kanban.saveBoard('.jskanban_area', function(json){
			console.log(JSON.stringify(json, null, 2));
		});
	});
});
</script>
</head>
<body>
</body>
<div align="center">
	<h1>Kanban Board - Demo</h1>
	<div class="jskanban_area">
		<div class="jskanban_holder jskanban_holder_todo">
			<h2>TODO</h2>
			<ul class="jskanban_sorter jskanban_connect_sorter" id="todo">
				<li class="jskanban_box" id="a1">Activity &lt;A1&gt; - a very long description goes here !</li>
				<li class="jskanban_box" id="a2">Activity A2</li>
				<li class="jskanban_box" id="a3">Activity A3</li>
			</ul>
			<div>
				<input type="text" class="jskanban_add_field" value="">
				<button class="jskanban_add_bttn">Add</button>
			</div>
		</div>
		<div class="jskanban_holder jskanban_holder_inprogress">
			<h2>In Progress</h2>
			<ul class="jskanban_sorter jskanban_connect_sorter" id="inprogress">
				<li class="jskanban_box" id="b1">Activity B1</li>
				<li class="jskanban_box" id="b2">Activity B2</li>
			</ul>
		</div>
		<div class="jskanban_holder jskanban_holder_check">
			<h2>Verification</h2>
			<ul class="jskanban_sorter jskanban_connect_sorter" id="check">
				<li class="jskanban_box" id="c1">Activity C1</li>
				<li class="jskanban_box" id="c2">Activity C2</li>
			</ul>
		</div>
		<div class="jskanban_holder jskanban_holder_done">
			<h2>Done</h2>
			<ul class="jskanban_sorter jskanban_connect_sorter" id="done">
				<li class="jskanban_box" id="d1">Activity D1</li>
			</ul>
			<div>
				<button class="jskanban_save_bttn">Save</button>
			</div>
		</div>
	</div>
</div>
</html>