
/*
Extra Viewer (and Modeler) Styles for Notes, by unixman
v.20190219
*/

/* unixman */

.djs-xtra-elem-note {
	background-color: rgba(66, 180, 21, 0.85);
	color: #FFFFFF;
	border-radius: 3px;
	font-size: 12px !important;
	line-height: 13px !important;
	padding: 3px;
	width: 50px;
	min-height: 15px;
	max-height: 38px;
	text-align: center;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: context-menu;
	margin-left: -5px;
	margin-top: 3px;
}

.djs-xtra-annotation-note:not(.djs-connection) .djs-visual > :nth-child(1) {
	stroke: rgba(66, 180, 21, 0.95) !important;
}

/* END */
