
/* SmartAds Hilite Styles :: r.2017.04.29 */

.eContextArea {
	padding: 2px 8px 8px 8px;
	background-color: #EDECEB;
	border:1px solid #AAAAAA;
	box-shadow: 2px 2px 3px #999999; /* Other CSS3 supporting browsers */
	border-radius: 10px;
	opacity: 0.95;
}

.eContextAreaTitle {
	font-size: 11px;
	color: #778899;
	font-style:italic;
}

.eContextHilitIcon {
	width: 16px;
	height: 16px;
	background-image: url(img/icon.png);
	background-repeat: no-repeat;
	opacity: 0.75;
}

.eContextHilitXIcon {
	width: 16px;
	height: 16px;
	background-image: url(img/iconx.png);
	background-repeat: no-repeat;
	opacity: 0.75;
}

.eContextHilit {
	background-color: #FFFFFF;
}
.eContextHilit a#adlink {
	color: #FF6600;
	font-weight:bold;
	text-decoration:none;
	border-bottom: double #008000;
	border-width: 3px;
	line-height: 1.2em;
	cursor:help;
}
.eContextHilit a#adlink:visited {
	color: #FF6600;
	font-weight:bold;
	text-decoration:none;
	border-bottom:
	double #008000;
	border-width: 3px;
	line-height: 1.2em;
	cursor:help;
}
.eContextHilit a#adlink:hover {
	text-decoration:none;
	border-bottom: double #008000;
	border-width: 5px;
	line-height: 1.2em;
	cursor:help;
}

/* END */
