<!-- START FlyDIV :: r.2017.05.01 :: [####ID-PREFIX|html####] -->
<div id="[####ID-PREFIX|htmid|html####]Fly_DIV" style="position:fixed;width:1px;height:1px;left:1px;top:1px;visibility:hidden;">
	<table border="1" width="100%" bgcolor="#FFFFFF" cellspacing="0" cellpadding="5" style="border-style: solid; border-color: #CCCCCC; border-collapse: collapse;">
	<tr class="noliner">
		<td width="100%" bgcolor="#FFFFFF">
			<table bgcolor="#FFFFFF" border="0" width="100%" cellspacing="0" cellpadding="2">
			<tr valign="top">
				<td style="cursor:hand">
					<a href="#" onClick="FloatDiv_Class.FloatXLayer_Toggle('[####ID-PREFIX|htmid|js####]Fly_DIV', '[####ID-PREFIX|htmid|js####]Fly_TTLBar', '[####ID-PREFIX|htmid|js####]Fly_iFRM', 0);return false"><font color="#000000" size="2" face="arial" style="text-decoration:none"><b>X</b></font></a>
				</td>
				<td id="[####ID-PREFIX|htmid|html####]Fly_TTLBar" style="cursor:move" width="100%" align="center" onClick="FloatDIVObj=document.getElementById('[####ID-PREFIX|htmid|js####]Fly_DIV');FloatAreaID='[####ID-PREFIX|htmid|js####]Fly_TTLBar';">
					<font face="verdana,tahoma,arial" color="#000000" size="1"><b><i>[####TITLE|html####]</i></b></font>
				</td>
			</tr>
			<tr>
				<td width="100%" bgcolor="#FFFFFF" style="padding:4px" colspan="2" height="50">
					<!-- place your HTML content here-->
					<iframe id="[####ID-PREFIX|htmid|html####]Fly_iFRM" scrolling="yes" src="" width="100%" height="100%" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0"></iframe>
					<!-- End of content area -->
				</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
</div>
<!-- END FlyDIV :: [####ID-PREFIX|html####] -->