<!DOCTYPE html>
<html>
<head>
<title>Mindmap Diagram</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- jQuery -->
<script src="../../../../../lib/js/jquery/jquery.js"></script>
<!-- jQuery Draggable (or jQueryUI Draggable) -->
<script src="../../jquery/jquery.draggable.js"></script>
<!-- SVG Library (raphael, snapsvg or fabricjs) -->
<script src="../../vector-svg/raphael.js"></script>
<!-- Mindmap -->
<link rel="stylesheet" type="text/css" href="../js-mindmap.css">
<script src="../js-mindmap.js"></script>
<!-- runtime -->
<script>
jQuery(document).ready(function() {
	var mydiv = 'mymindmap';
	jQuery('#' + mydiv).hide().mindmap({
	//	canvasRenderer: 'raphael', // raphael | snapsvg | fabricjs
		elemID: mydiv,
		attract: 39,
		repulse: 7,
		damping: 0.65,
		timeperiod: 10,
		wallrepulse: 0.5,
		mapArea: { left: 0, top: 0, x: -1, y: -1 },
		minSpeed: 0.05,
		maxForce: 0.1,
		showSublines: true,
		showProgressive: true,
		centreOffset: -50,
		timer: 1,
		lineColor: '#FFFFFF'
	});
	setTimeout(function(){ jQuery('#' + mydiv).show(); }, 100);
});
</script>
</head>
<body bgcolor="#333333">
	<div id="mymindmap" style="display:none;">
		<ul>
			<li><a href="#">Central Idea</a>
				<ul>
					<li><a href="#" data-node="true">Idea 1</a>
						<ul>
							<li><a href="#">Idea 1.1</a></li>
							<li><a href="#">Idea 1.2</a></li>
							<li><a href="#">Idea 1.3</a></li>
							<li><a href="#">Idea 1.4</a></li>
							<li><a href="#">Idea 1.5</a></li>
						</ul>
					</li>
					<li><a href="#" data-node="true">Idea 2</a>
						<ul>
							<li><a href="#">Idea 2.1</a></li>
							<li><a href="#">Idea 2.2</a></li>
							<li><a href="#">Idea 2.3</a></li>
							<li><a href="#">Idea 2.4</a></li>
							<li><a href="#">Idea 2.5</a></li>
							<li><a href="#">Idea 2.6</a></li>
							<li><a href="#" data-node="true">Idea 2.7</a>
								<ul>
									<li><a href="#">Idea 2.7.1</a></li>
									<li><a href="#">Idea 2.7.2</a></li>
									<li><a href="#">Idea 2.7.3</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>
