<!-- ecomm base r.20210318 -->
<style>
.ux-form input[readonly],
.ux-form select[readonly],
.ux-form textarea[readonly],
.ux-select[readonly],
.ux-field[readonly] {
	background-color: #F0F0F0;
	color: #777777;
}
.item-att-opt-all {
	color: #999999 !important;
}
.item-att-opt-validation {
	color: #003399 !important;
}
.item-att-opt-inventory {
	color: #FF3300 !important;
}
.item-light-text {
	color: #CCCCCC !important;
}
</style>
<center><div style="background:#ECECEC; padding:5px;">
	<a id="btn-goto-shop" class="ux-button ux-button-primary" href="?page=[###PAGE-URL|url|html###]"><i class="sfi sfi-sphere"></i> &nbsp; go to Shop</a>
	<a id="btn-goto-cart" class="ux-button ux-button-info" href="?page=[###PAGE-URL|url|html###]&op=cart"><i class="sfi sfi-cart"></i> &nbsp; go to Cart</a>
</div></center>
<!-- ecomm base #end -->