<style>
.ux-form input[readonly],
.ux-form select[readonly],
.ux-form textarea[readonly],
.ux-select[readonly],
.ux-field[readonly] {
	background-color: #F0F0F0;
	color: #777777;
}
</style>
<div align="center" style="background:#ECECEC; padding:5px;">
	<a id="btn-goto-shop" class="ux-button ux-button-primary" href="?page=[###PAGE-URL|url|html###]"><i class="sfi sfi-fa-certificate"></i> &nbsp; Shop</a>
	<a id="btn-goto-cart" class="ux-button ux-button-info" href="?page=[###PAGE-URL|url|html###]&op=cart"><i class="sfi sfi-cart"></i> &nbsp; Cart</a>
</div>