<div class="cell-inner" title="[###UUID|html###]">
	<div class="cell-left"><i class="sfi sfi-address-book sfi-2x"></i></div>
	<div class="cell-main">
		<span style="color:#333333; font-size:1.5em;"><b>[###NAME|html###]</b></span><br>
		<span style="color:#778899; font-size:1.25em;"><b><i>[###ORGANIZATION|html###]</i></b></span><br>
		<span style="color:#178DB0;"><b>[###PHONE|html|nl2br###]</b></span><br>
		<span style="color:#20639E;"><b>[###EMAIL|html|nl2br###]</b></span><br>
		[###ADDRESS|html###]<br>
	</div>
</div>