<!-- TPL: Smart.Cloud / WebAddressbook / Default :: [###USER-ACC|html###] -->
<div><center>
	<span style="font-size:40px!important; color:#778899;"><b><i>Smart.Cloud</i></b> <img width="32" height="32" src="lib/core/img/app/server.svg" alt="Smart.Cloud WebAddressbook" title="Smart.Cloud WebAddressbook" style="cursor:help;"> <b>WebAddressbook</b></span>
	<br>
</center></div>
<hr>
<h3>Available Addressbooks for: [###USER-ACC|html###]</h3>
<ul>
[%%%LOOP:ADDRESSBOOKS%%%]
	<li><b>[###ADDRESSBOOKS._-VAL-_|html###]</b> &nbsp;&nbsp;&nbsp; <a href="[###LINK-VCF|html###][###ADDRESSBOOKS._-VAL-_|url|html###]" title="Download as addressbook.vcf">download</a>  &nbsp;&nbsp;&nbsp; <a href="[###LINK-WEB|html###][###ADDRESSBOOKS._-VAL-_|url|html###]" title="Display as WebAddressbook">view</a></li>
[%%%/LOOP:ADDRESSBOOKS%%%]
</ul>