<div class="cell-inner" title="[####UUID|html####]">
	<div class="cell-left"><i class="fa fa-2x fa-address-card"></i></div>
	<div class="cell-main">
		<span style="color:#333333; font-size:1.5em;"><b>[####NAME|html####]</b></span><br>
		<span style="color:#778899; font-size:1.25em;"><b><i>[####ORGANIZATION|html####]</i></b></span><br>
		<span style="color:#00CC00;"><b>[####PHONE|html|nl2br####]</b></span><br>
		<span style="color:#003399;">[####EMAIL|html####]</span><br>
		[####ADDRESS|html####]<br>
	</div>
</div>