<!-- TPL: Smart.Cloud / WebCalendar / Default :: [####USER-ACC|html####] -->
<div align="center">
	<span style="font-size:40px!important; color:#778899;"><b><i>Smart.Cloud</i></b> <img width="32" height="32" src="modules/mod-cloud/views/img/globe.svg" alt="Smart.Cloud WebCalendar" title="Smart.Cloud WebCalendar" style="opacity:0.7;cursor:help;"> <b>WebCalendar</b></span>
	<br>
</div>
<hr>
<h3>Available Calendars for: [####USER-ACC|html####]</h3>
<ul>
[%%%%LOOP:CALENDARS%%%%]
	<li><b>[####CALENDARS._-VAL-_|html####]</b> &nbsp;&nbsp;&nbsp; <a href="[####LINK-ICS|html####][####CALENDARS._-VAL-_|url|html####]" title="Download as calendar.ics">download</a>  &nbsp;&nbsp;&nbsp; <a href="[####LINK-WEB|html####][####CALENDARS._-VAL-_|url|html####]" title="Display as WebCalendar">view</a></li>
[%%%%/LOOP:CALENDARS%%%%]
</ul>