<style>
label {
	display: inline-block;
	padding-right: 10px;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: #333333;
}
input[type=text] {
	min-width: 170px !important;
	width: 100%;
}
div.atts-file, div.cloned__atts-file {
	width: 30%;
	display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
	color: #333333;
}
</style>
[###HTMLAREA-INIT###]
<script>
[###JS-PAGEAWAY###]
</script>
<form class="ux-form" id="webmail-form" name="webmail_form" action="#" method="post" enctype="multipart/form-data">
<table style="width:97vw;">
	<tr valign="top">
		<td colspan="2">
			<div style="display:inline-block; width:70%; margin-right:25px;">
				<h1 style="display:inline-block;">Webmail Compose :: [###COMPOSER-TITLE|html###]</h1>
			</div>
			<div style="display:inline-block; width:20%; text-align:right;">
				<button type="button" class="ux-button" onClick="SmartJS_BrowserUtils.CloseModalPopUp();"><i class="sfi sfi-cancel-circle"></i> &nbsp; Cancel</button>
				<button type="button" class="ux-button ux-button-primary" onClick="[###JS-DPAGEAWAY|html###] return false;"><i class="sfi sfi-mail2"></i> &nbsp; Send</button>
			</div>
		</td>
	</tr>
	<tr valign="top">
		<td width="70"><label for="webmail-to">To</label></td>
		<td><input placeholder="To" type="text" id="webmail-to" name="webmail[to]" value="[###COMPOSER-TO|html###]"></td>
	</tr>
	<tr valign="top">
		<td width="70"><label for="webmail-cc">Cc</label></td>
		<td><input placeholder="Cc" type="text" id="webmail-cc" name="webmail[cc]" value="[###COMPOSER-CC|html###]"></td>
	</tr>
	<tr valign="top">
		<td width="70"><label for="webmail-bcc">Bcc</label></td>
		<td><input placeholder="Bcc" type="text" id="webmail-bcc" name="webmail[bcc]" value="[###COMPOSER-BCC|html###]"></td>
	</tr>
	<tr valign="top">
		<td><label for="webmail-subject">Subject</label></td>
		<td><input placeholder="Subject" type="text" id="webmail-subject" name="webmail[subject]" value="[###COMPOSER-SUBJECT|html###]"></td>
	</tr>
	<tr valign="top">
		<td><label>Attachments</label></td>
		<td>
			<div id="atts-list">
				<div class="atts-file"><input id="atts-file" class="attachment" type="file" name="webmail[attachments][]"></div>
			</div>
			<script type="text/javascript">
				SmartJS_BrowserUtils.CloneElement('atts-file', 'atts-list', 'file-input', 9);
			</script>
		</td>
	</tr>

	<tr>
		<td colspan="2">[###HTMLAREA-DISPLAY###]</td>
	</tr>
</table>
</form>