<!-- drag'n'drop -->
<script type="text/javascript" src="lib/js/jquery/jquery.event.drag.js"></script>
<script type="text/javascript" src="lib/js/jquery/jquery.event.drop.js"></script>
<!-- cutom js / css -->
<link rel="stylesheet" type="text/css" href="[###MODULE-PATH|html###]views/css/webmail.css">
<script type="text/javascript" src="[###MODULE-PATH|html###]views/js/dynlayout-vbar.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#mainTable').show();
		SmartCloud_DynLayout_Vertical_DynamicBar.restoreWidth();
		SmartCloud_DynLayout_Vertical_DynamicBar.handleDrag();
	});
	jQuery(window).resize(function() {
		SmartCloud_DynLayout_Vertical_DynamicBar.restoreWidth();
	});
</script>
<style>
#mainTable * {
	-webkit-user-select: none;
	-moz-user-select: none !important;
	-ms-user-select: none;
	user-select: none !important;
}
</style>
<!-- start page -->
<div style="background:background:#FFFFFF; width:98vw!important; height:98vh!important;">
	<h1 style="display:inline-block;">
		<a href="[%%%IF:CLOUD-MAILBOX:!=;%%%]admin.php?page=cloud.webmail[%%%ELSE:CLOUD-MAILBOX%%%]admin.php?page=cloud.welcome[%%%/IF:CLOUD-MAILBOX%%%]" title="Cloud.WebMail" style="margin-right:8px;">
			<img height="48" src="[###MODULE-PATH|html###]views/img/webmail.svg" align="left">
		</a>
	WebMail &nbsp; </h1><h4 style="display:inline-block;"><span style="color:#FF3300;">{[###CLOUD-USERNAME|html###]}:</span>&nbsp;<span style="color:#778899;">&lt;[%%%IF:CLOUD-MAILBOX:!=;%%%][###CLOUD-MAILBOX|html###][%%%ELSE:CLOUD-MAILBOX%%%]#[%%%/IF:CLOUD-MAILBOX%%%]&gt;</span></h4>
<br>
<div><center>[%%%IF:AREA-HTML-HBAR:!=;%%%][###AREA-HTML-HBAR###][%%%ELSE:AREA-HTML-HBAR%%%]&nbsp;[%%%/IF:AREA-HTML-HBAR%%%]</center></div>
<table id="mainTable" style="width:100%; height:calc(100% - 90px); border:1px solid #CCCCCC; display:none;">
<tr valign="top">
	<td>
		<table border="0" width="100%" height="100%" style="height:100%">
			<tr valign="top" style="height:100%">
				<!-- left -->
				<td width="1" style="height:100%">
					<div id="cloud_dynlayout_left_div" style="width:175px; height:99%; overflow:auto; border:1px solid #CCCCCC; background-color:#FFFFFF;">
						<table width="99%" height="100%" border="0" cellpadding="2" style="height:100%">
							<tr valign="top" style="height:100%">
								<td>
									[###AREA-HTML-VBAR###]
								</td>
							</tr>
						</table>
					</div>
				</td>
				<!-- end left -->
				<!-- body -->
				<td width="1">
					<div id="cloud_dynlayout_resizer_div" style="width:4px; height:99%; cursor:col-resize; border: 1px solid #CCCCCC; background-color: #ECECEC; z-index:100;">
						&nbsp;
						<br>
						&nbsp;
						<br>
						&nbsp;
					</div>
				</td>
				<td width="5">
					&nbsp;
				</td>
				<td id="mainArea" width="99%" align="left">
					[###AREA-HTML-CONTENT###]
				</td>
				<!-- end body -->
			</tr>
		</table>
	</td>
</tr>
</table>
<!-- end page -->
<br>
</div>