<!-- Smart.Cloud / WebMailGet -->
<!DOCTYPE html>
<html>
<head>
<meta charset="[###CHARSET|html###]">
<meta http-equiv="Content-Type" content="text/html; charset=[###CHARSET|html###]">
<title>Smart.Cloud :: WebMailGet</title>
<!-- Styles -->
[@@@SUB-TEMPLATE:!etc/templates/default/css-app.inc.htm!@@@]
<link rel="stylesheet" type="text/css" href="etc/templates/default/styles.css?[###RELEASE-HASH|url|html###]">
<!-- Scripts -->
[@@@SUB-TEMPLATE:!etc/templates/default/js-base.inc.htm!@@@]
</head>
<body>
<div align="left" style="padding-left:30px; padding-right:30px;">
