<!-- Smart.Cloud [###VERSION|html###] -->
<!DOCTYPE html>
<html>
<head>
<meta charset="[###CHARSET|html###]">
<meta http-equiv="Content-Type" content="text/html; charset=[###CHARSET|html###]">
<title>Smart.Cloud :: Welcome</title>
<!-- Styles -->
[@@@SUB-TEMPLATE:!etc/templates/default/css-app.inc.htm!@@@]
<link rel="stylesheet" type="text/css" href="etc/templates/default/styles.css?[###RELEASE-HASH|url|html###]">
<!-- Scripts -->
[@@@SUB-TEMPLATE:!etc/templates/default/js-base.inc.htm!@@@]
</head>
<body>
<div align="center">
	<table border="0">
		<tr>
			<td colspan="3" align="center">
				<span style="font-size:70px!important; color:#778899;"><b><i>Smart</i></b> <a href="admin.php" title="[###LOGO-TXT|html###]" style="cursor:help!important; text-decoration:none!important;"><img width="64" height="64" src="[###LOGO-IMG|html###]" alt="[###LOGO-TXT|html###]" title="[###LOGO-TXT|html###]" style="opacity:0.7;"></a> <b>Cloud</b></span>
				<br>
			</td>
		</tr>
		<tr>
			<td width="276" align="left"><img src="[###IMGS-PATH|html###]abook.svg" width="256" height="256" alt="Cloud.AddressBook (CardDAV Server)" title="Cloud.AddressBook (CardDAV Server)" onClick="javascript:self.location='admin.php/page/cloud.abook/~';" style="cursor:pointer;"></td>
			<td width="276" align="center"><img src="[###IMGS-PATH|html###]ical.svg" width="256" height="256" alt="Cloud.iCalendar (CalDAV Server)" title="Cloud.iCalendar (CalDAV Server)" onClick="javascript:self.location='admin.php/page/cloud.ical/~';" style="cursor:pointer;"></td>
			<td width="276" align="right"><img src="[###IMGS-PATH|html###]files.svg" width="256" height="256" alt="Cloud.Files (WebDAV Server)" title="Cloud.Files (WebDAV Server)" onClick="javascript:self.location='admin.php/page/cloud.files/~';" style="cursor:pointer;"></td>
		</tr>
	</table>
	<br>
	<span style="font-size:10px; font-weight:bold; color:#778899;">&copy; 2012-[###DATE-YEAR|html###] unix-world.org</span>
	<br>
	<br>
</div>
</body>
</html>
