<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>jsPlumb Jump Page</title>
		<style type="text/css">
			body {
				font-family:Garamond, Tahoma, sans-serif;
				font-size:80%;
			}
			a, a:visited {
				color:#456;
			}
		</style>
	</head>
	<body>
		<h1>jsPlumb</h1>
		<h3>Demos</h3>
		<ul>
			<li><a href="flowchart/demo.html">Flowchart</a></li>
			<li><a href="chart/demo.html">Hierarchy</a></li>
			<li><a href="animation/demo.html">Animation</a></li>
			<li><a href="draggableConnectors/demo.html">Draggable Connections</a></li>
			<li><a href="sourcesAndTargets/demo.html">Sources and Targets</a></li>
			<li><a href="perimeterAnchors/demo.html">Perimeter Anchors</a></li>
			<li><a href="dynamicAnchors/demo.html">Dynamic Anchors</a></li>
			<li><a href="statemachine/demo.html">State Machine</a></li>
			<li><a href="groups/demo.html">Groups</a></li>
		</ul>
		<h3>Documentation</h3>
		<ul>
			<li><a href="../doc/docs-howto/home.html" target="_blank">jsPlumb Documentation</a></li>
			<li><a href="../doc/docs-api/api.html" target="_blank">API Documentation</a></li>
		</ul>
	</body>

</html>
