<!-- start tpl highlight syntax template -->
[%%%COMMENT%%%]
Template: mod-tpl/views/templating-highlight-syntax.mtpl.htm # v.20210325
[%%%/COMMENT%%%]
[###HTML-HIGHLIGHT-BASE###]
[###HTML-HIGHLIGHT-CUSTOM###]
<h1>[###TPL-TYPE|html###] Source:<br><i>[###TPL-PATH|html###]</i></h1>
<hr>
<pre style="background:#FAFAFA; margin:0px; padding:0px; width:98vw; height:75vh; overflow:hidden;">
<code class="[###TPL-SYNTAX|html###]" style="margin:0px; padding:0px; width:100%; height:100%; overflow:auto;">
[@@@SUB-TEMPLATE:%the-tpl%|html@@@]
</code>
</pre>
<hr>
<br>
<!-- end tpl highlight syntax template -->