<div class="ux-grid-row">
	<div class="ux-grid-col s12">
		<h2 style="display:inline;">SVN Repository: <span style="color:#72C100;">[####REPO-NAME|html####]</span></h2>
		<br>
		<h5 style="display:inline;">Rev.[####REVISION|html####] <span style="color:#CCCCCC;">@</span> <span style="color:#778899;">[####REPO-PATH|html####]</span></h5>
	</div>
</div>
[####CODE-HIGHLIGHT####]
<div>
	<pre style="border:1px solid #DDDDDD; background:#FAFAFA; text-align:left!important; padding:4px;"><code class="[####CODE-TYPE|html####]" style="width:99%; height:75vh; overflow:auto;">[####CODE-HTML####]</code></pre>
</div>